<template>
    <div>
        <page-title :heading=heading :subheading=subheading :icon=icon></page-title>
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
                    Freelancers
                </div>
                <!-- <div class="btn-actions-pane-right text-capitalize">
                    <button class="btn-wide btn-outline-2x mr-md-2 btn btn-outline-focus btn-sm">View All</button>
                </div> -->
            </div>
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
              <div class="w-100">
                <div class="row">
                  <div class="col-md-4 col-12 align-self-end">
                    <v-select
                    :items="freelancers.dropdown"
                    item-text="text"
                    item-value="value"
                    label="Select Range"
                    v-model="freelancers.model.dropdown"
                    solo
                    @change="actions('_stats_freelancer_signup_total')"
                  ></v-select>
                  </div>
                  <div class="col-md-8 col-12">
                    <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                        <div class="icon-wrapper rounded-circle">
                            <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
                            <i class="pe-7s-add-user text-dark opacity-8"></i></div>
                        <div class="widget-chart-content">
                            <div class="widget-subheading">Total Sign Up</div>
                            <div class="widget-numbers">{{ freelancerTotalSignUp }}</div>
                            <div class="widget-description opacity-8 text-focus">
                                <div class="d-inline text-danger pr-1">
                                    <!-- <font-awesome-icon icon="angle-down"/>
                                    <span class="pl-1">54.1%</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <VueElementLoading :active="freelancers.model.isLoading" spinner="ring" color="var(--info)" />
                <FreelancerSignups
                  :data="freelancers.model.dataSignups"
                />
              </div>
            </div>
            <div class="card-header-tab card-header my-5">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-pushpin"></i>UTM
                </div> 
            </div>
            <div class="col-md-4 col-12 align-self-start">
              <v-select
                :items="freelancers.utmSelection"
                item-text="text"
                item-value="value"
                label="Select Range"
                v-model="freelancers.model.utmSelection"
                solo
                @change="actions('_stats_freelancer_utm')"
              ></v-select>
            </div>
            <div class="card">
              <VueElementLoading :active="freelancers.utm.isLoading" spinner="ring" color="var(--info)" />
              <v-data-table
                :headers="freelancers.utm.utmHeaders"
                :items="utm_data"
                class="elevation-1"
                hide-actions
                disable-pagination
              >
                <template v-slot:items="props">
                  <td>{{ props.item.tag }}</td>
                  <td class="text-xs-left">{{ props.item.datas.length ? (
                      props.item.datas.length + props.item.datas.filter(f => f.return_visit !== null).map(a => a.return_visit).reduce((sum, num) => sum + num, 0)
                      ) : 0 }}</td>
                  <td class="text-xs-left">{{ props.item.datas.filter(m => m.member_id !== null).length }}</td>
                  <td class="text-xs-left">{{ (props.item.datas.filter(m => m.member_id !== null).length / props.item.datas.length * 100).toFixed(2) }}%</td>
                </template>
              </v-data-table>
            </div>
          <div class="card-header-tab card-header my-5">
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
              <i class="header-icon lnr-earth"></i> Countries
            </div> 
          </div>
          <div class="col-md-4 col-12 align-self-start">
              <v-select
                :items="freelancers.utmSelection"
                item-text="text"
                item-value="value"
                label="Select Range"
                v-model="freelancers.model.countriesSelection"
                solo
                @change="actions('_stats_countries')"
              ></v-select>
            </div>
            <div class="card">
              <VueElementLoading :active="freelancers.countries.isLoading" spinner="ring" color="var(--info)" />
              <v-data-table
                :headers="freelancers.countries.countriesHeaders"
                :items="counties_data"
                class="elevation-1"
                hide-actions
                disable-pagination
              >
                <template v-slot:items="props">
                  <td>{{ props.item.tag }}</td>
                  <td class="text-xs-left">{{ props.item.datas.length ? (
                      props.item.datas.length + props.item.datas.filter(f => f.return_visit !== null).map(g => g.return_visit).reduce((sum, num) => sum + num, 0)
                  ) : 0 }}</td>
                  <td class="text-xs-left">{{ props.item.datas.filter(m => m.member_id !== null && m.member_type === 'freelancer').length }}</td>
                </template>
              </v-data-table>
            </div>
        </div>
    </div>
</template>

<script>
import PageTitle from "../../Layout/Components/PageTitle.vue";
// import VuePerfectScrollbar from 'vue-perfect-scrollbar'
// import Slick from 'vue-slick';
// import Trend from 'vuetrend';
// import chart1 from './Analytics/chart1';
// import chart2 from './Analytics/chart2';
// import chart3 from './Analytics/chart3';
import FreelancerSignups from '@charts/Dashboard/Apex/FreelancerSignups.vue'
import VueElementLoading from 'vue-element-loading'

import {library} from '@fortawesome/fontawesome-svg-core'
import {
    faTrashAlt,
    faCheck,
    faCalendarAlt,
    faAngleDown,
    faAngleUp,
    faTh,
} from '@fortawesome/free-solid-svg-icons'
// import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome'

import { createNamespacedHelpers } from 'vuex'
const { mapActions, mapState } = createNamespacedHelpers('dashboard')

 library.add(
    faTrashAlt,
    faCheck,
    faAngleDown,
    faAngleUp,
    faTh,
    faCalendarAlt,
);

export default {
  components: {
    PageTitle,
    // VuePerfectScrollbar,
    // Slick,
    // 'font-awesome-icon': FontAwesomeIcon,
    // 'trend': Trend,
    // chart1,
    // chart2,
    // chart3,
    FreelancerSignups,
    VueElementLoading
  },
  data: () => ({
    heading: 'Statistics Dashboard',
    subheading: 'This will show quick statistic reports.',
    // icon: 'pe-7s-plane icon-gradient bg-tempting-azure',
    slickOptions2: {
      slidesToShow: 1,
      dots: true,
    },
    fields: [
      {
        key: 'last_name',
        sortable: true
      },
      {
        key: 'first_name',
        sortable: true
      },
      {
        key: 'age',
        label: 'Person age',
        sortable: true,
        // Variant applies to the whole column, including the header and footer
      }
     ],
    items: [
      { isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
      { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
      { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
      { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' }
     ],
    freelancers: {
      model: {
        dataSignups: null,
        dropdown: 'last_30_days',
        isLoading: false,
        utmSelection: 'all',
        countriesSelection: 'all'
      },
      dropdown: [{
        value: 'last_30_days', 
        text: 'Last 30 days',
      }, {
        value: '6_months', 
        text: '6 Months'
      }, {
        value: '12_months',
        text: '12 Months'
      }],
      utmSelection: [{
        value: 'all',
        text: 'All'
      }, {
        value: '24_hours',
        text: '24 Hours'
      }, {
        value: '7_days',
        text: '7 Days'
      }, {
        value: '30_days',
        text: '30 Days'
      }],
      utm: {
        isLoading: false,
        utmHeaders: [{
          text: 'UTM Tag',
          align: 'left',
          sortable: true
        }, {
          text: 'Visits',
          align: 'left',
          sortable: true
        }, {
          text: 'Sign Ups',
          align: 'left',
          sortable: true
        }, {
          text: 'Sign Ups Avg: Visits',
          align: 'left',
          sortable: true
        }],
        utmData: [{
          source: 'google/organic',
          visits: 1200,
          signups: 1000,
          signups_avg: '88%'
        }]
      },
      countries: {
        isLoading: false,
        countriesHeaders: [{
          text: 'Country',
          align: 'left',
          sortable: true
        }, {
          text: 'Visitors',
          align: 'left',
          sortable: true
        }, {
          text: 'Total Freelancers',
          align: 'left',
          sortable: true
        }]
      }
    },
    icon: ''
  }),
  methods: {
    ...mapActions([
      '_stats_freelancer_signup',
      '_stats_freelancer_total_signup',
      '_stats_freelancer_utms',
      '_stats_countries'
    ]),
    actions (trigger) {
      switch (trigger) {
        case '_stats_freelancer_signup_total':
          this.freelancers.model.isLoading = true
          this._stats_freelancer_signup(this.freelancers.model)
            .then(r => {
              this.freelancers.model.dataSignups = r.data
              this.freelancers.model.isLoading = false
            })
          break
        case '_stats_freelancer_utm':
          this.freelancers.utm.isLoading = true
          this._stats_freelancer_utms(this.freelancers.model.utmSelection)
            .then(() => this.freelancers.utm.isLoading = false)
          break
        case '_stats_countries':
          this.freelancers.countries.isLoading = true
          this._stats_countries(this.freelancers.model.countriesSelection)
            .then(() => this.freelancers.countries.isLoading = false)
          break
      }
    }
  },
  computed: {
    ...mapState([
      'freelancerTotalSignUp',
      'utm_data',
      'counties_data'
    ])
  },
  created () {
    this.freelancers.model.isLoading = true
    Promise.all([
      this._stats_freelancer_signup(this.freelancers.model),
      this._stats_freelancer_total_signup(),
      this._stats_freelancer_utms(this.freelancers.model.utmSelection),
      this._stats_countries(this.freelancers.model.countriesSelection)
    ])
      .then(r => {
        this.freelancers.model.dataSignups = r[0].data
        this.freelancers.model.isLoading = false
      })
  }
 }


</script>
