<template>
  <div>
    <layout-wrapper>
      <demo-card color="#333" heading="Skills">
        <v-toolbar>
          <v-autocomplete
            v-model="select"
            item-color="#333"
            :loading="loading"
            :items="items"
            :search-input.sync="search"
            cache-items
            class="mx-3"
            flat
            hide-no-data
            hide-details
            label="E.g: Real Estate"
            solo-inverted
            chips
            clearable
            hide-selected
            item-text="name"
            item-value="symbol"
            solo
          ></v-autocomplete>
        </v-toolbar>
      </demo-card>
        <div class="my-3">
          <b-button @click="toAddSkill" class="mr-2 mb-2 btn-pill btn-icon" variant="outline-info">
            <i class="btn-icon-wrapper pe-7s-plus"></i> Add Skill
          </b-button>
        </div>
        <v-data-table
          v-if="skills !== undefined && skills.data !== undefined"
          :headers="headers"
          :items="skills.data.map(m => ({ skill_id: m.skill_id, skill_name: m.skill_name, category_name: m.category.category_name, category: m.category }))"
          class="elevation-1"
          hide-actions
          disable-pagination
        >
          <template v-slot:items="props">
            <td class="text-xs-center">{{ props.item.skill_name }}</td>
            <td class="text-xs-center">{{ props.item.category_name }}</td>
            <td class="justify-center layout py-4 px-0">
              <v-icon
                small
                class="mr-2"
                @click="editItem(props.item)">
                edit
              </v-icon>
              <v-icon
                small
                @click="deleteItem(props.item)"
              >
                delete
              </v-icon>
          </td>
          </template>
        </v-data-table>
        <div class="text-xs-center pt-2">
          <b-pagination size="md" :per-page="skills.per_page" :total-rows="skills.total" v-model="currentPage" />
        </div>
    </layout-wrapper>
    <Edit 
      :selected="selected" 
      :data="skills.data"
    />
    <b-modal 
      size="sm"
      header-bg-variant="danger" 
      footer-bg-variant="light"
      body-bg-variant="light" 
      header-text-variant="light" 
      id="modal-todelete" 
      title="Delete Skill"
    >
      <p class="my-4">Are you sure you want to delete <strong>{{ toDelete.skill_name }}</strong>?</p>
      <template v-slot:modal-footer>
        <b-button size="sm" variant="success" @click="$bvModal.hide('modal-todelete')">
          Cancel
        </b-button>
        <b-button size="sm" variant="danger" @click="confirmDelete">
          <span v-if="isDeleting"><b-spinner small type="grow" /> Deleting...</span>
          <span v-else>Delete</span>
        </b-button>
      </template>
    </b-modal>
    <AddModal ref="addModal" />
  </div>
</template>
<script>
import DemoCard from '@layout/Components/DemoCard';
import LayoutWrapper from '@layout/Components/LayoutWrapper';
import Edit from './modals/edit'
import _ from 'lodash'
import { createNamespacedHelpers } from 'vuex'
const { mapActions, mapState } = createNamespacedHelpers('skills')

import AddModal from './modals/add'
export default {
  data: () => ({
    headers: [
      { text: 'Skills', value: 'skill_name', align: 'center'},
      { text: 'Category', value: 'category_name', align: 'center'},
      { text: 'Actions', value: 'skill_id', sortable: false }
    ],
    currentPage: 1,
    select: null,
    search: null,
    items: [],
    loading: false,
    selected: null,
    toDelete: {},
    isDeleting: false
  }),
  methods: {
    ...mapActions([
      'showAll',
      'findByName',
      'destroy'
    ]),
    editItem (item) {
      this.$bvModal.show('bv-modal-skills')
      this.selected = item
    },
    deleteItem (item) {
      this.toDelete = item
      this.$bvModal.show('modal-todelete')
    },
    confirmDelete () {
      this.isDeleting = true
      this.destroy(this.toDelete.skill_id)
        .then(() => {
          this.$bvModal.hide('modal-todelete')
          this.$bvToast.toast('You have successfuly deleted a skill.', {
            title:'Great!',
            variant: 'success',
            solid: true
          })
          this.isDeleting = false
        })
    },
    toAddSkill () {
      this.$bvModal.show('add-skill-modal')
    }
  },
  watch: {
    currentPage (v) {
      if (v) {
        const search = v !== 1 ? '?page='+v : ''
        this.showAll(search)
      }
    },
    search: _.debounce(function(v){
      if (v) {
        this.findByName(v)
          .then(g => this.items = g.data.map(m => m.skill_name ))
      }
    }, 1000),
    select: _.debounce(function(v){
      if (v) {
        this.findByName(v)
          .then(g => this.items = g.data.map(m => m.skill_name ))
        return
      }
      this.showAll()
    }, 1000),
  },
  computed: {
    ...mapState(['skills'])
  },
  created() {
    Promise.all([this.showAll()])
  },
  components: {
    'demo-card': DemoCard,
    'layout-wrapper': LayoutWrapper,
    Edit,
    AddModal
  }
}
</script>