<template>
  <div class="example">
    <apexchart height="350" type="line" :options="chartOptions" :series="series"></apexchart>
  </div>
</template>

<script>
  import VueApexCharts from 'vue-apexcharts'

  export default {
    components: {
      'apexchart': VueApexCharts
    },
    props: {
      data: {
        required: true,
        default: {}
      }
    },
    data: function () {
      return {
        chartOptions: {
          chart: {
            stacked: true,
          },
          stroke: {
            width: [1],
            curve: 'straight'
          },
          plotOptions: {
            bar: {
              columnWidth: '50%'
            }
          },
          fill: {
            colors: ["#ff0000"],
          },
          markers: {
            size: 0
          },
          xaxis: {
            type: 'datetime'
          },
          yaxis: {
            tickAmount: 3,
            type: 'numeric',
            title: {
              text: 'Total Onboarded',
            },
            min: 0,
            labels: {
              formatter: function(val) {
                return val.toFixed(0) 
              }
            }
          },
          tooltip: {
            shared: true,
            intersect: false,
            x: {
              format: 'dd MMM, yyyy',
              formatter: undefined,
            },
            y: {
              formatter: function (y) {
                if (typeof y !== "undefined") {
                  return y.toFixed(0) + " Total Onboarded";
                }
                return y;

              }
            }
          }
        }
      }
    },
    computed: {
      series: {
        get () {
          if (this.data !== null) {
            return this.data.data
          }
           return []
        },
        set (newVal) {
          this.data.data = newVal
        }
      }
    },
    mounted () {
      this.$watch(() => this.data, (d) => {
        if (d) {
          delete this.chartOptions.labels
          delete this.series
          
          this.$set(this.chartOptions, 'labels', d.labels)
          this.$set(this, 'series', d.data)
        }
      }, { immediate: true, deep: true })
    }
  }
</script>
