<template>
  <div id="app">
    <component :is="layout" v-if="$route.path !== '/'">
        <transition name="fade" mode="out-in">
            <router-view></router-view>
        </transition>
    </component>
    <Login v-else />
  </div>
</template>

<script>
const default_layout = "default";
import Login from './components/Auth/LoginBoxed.vue'
export default {
  components: {
    Login
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || default_layout) + '-layout';
    }
  }
}
</script>

<style lang="scss">
  @import "assets/base.scss";
</style>
