<template>
    <layout-wrapper>
      <demo-card heading="Search by skills">
        <v-card>
          <v-form>
              <v-layout wrap>
                <v-flex xs12>
                  <v-autocomplete
                    v-model="select"
                    :search-input.sync="search"
                    :items="items"
                    box
                    chips
                    color="blue-grey lighten-2"
                    label="Select Skills"
                    item-text="name"
                    item-value="name"
                    :loading="isLoading"
                    multiple
                  >
                    <template v-slot:item="data">
                      <template v-if="typeof data.item !== 'object'">
                        <v-list-tile-content v-text="data.item"></v-list-tile-content>
                      </template>
                      <template v-else>
                        <v-list-tile-avatar v-if="data.item.avatar">
                          <img :src="data.item.avatar">
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                          <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                        </v-list-tile-content>
                      </template>
                    </template>
                  </v-autocomplete>
                </v-flex>
                <v-flex>
                  <v-chip
                    v-for="(data,i) in select" :key="i"
                    close
                    class="chip--select-multi"
                    @input="remove(data)"
                  >
                    {{ data }}
                  </v-chip>
                </v-flex>
              </v-layout>
              <v-card class="mt-4">
                <v-btn small color="primary" @click="getFreelancer">Search</v-btn>
                <v-btn v-if="data && data.length" small color="success" @click="downloadCsv">Download CSV</v-btn>
              </v-card>
          </v-form>
        </v-card>
        <v-card class="mt-5" v-if="data && data.length">
          <v-data-table
            :headers="headers"
            :items="data"
            class="elevation-1"
          >
            <template v-slot:items="props">
              <td class="text-center">{{ props.item.id }}</td>
              <td class="text-center">{{ props.item.name }}</td>
              <td class="text-center">{{ props.item.email }}</td>
              <td class="text-center">{{ props.item.skill_match }}</td>
            </template>
          </v-data-table>
        </v-card>
    </demo-card>
  </layout-wrapper>
</template>
    
<script>
import DemoCard from '@layout/Components/DemoCard';
import LayoutWrapper from '@layout/Components/LayoutWrapper';
// import VueElementLoading from 'vue-element-loading'
// import _ from 'lodash'
import { createNamespacedHelpers } from 'vuex'
const { mapActions, mapState } = createNamespacedHelpers('skills') 
export default {
  data () {

      return {
        autoUpdate: true,
        select: '',
        search: '',
        isUpdating: false,
        items: [],
        headers: [
          {text: 'ID', align: 'center', value: 'id'},
          {text: 'Name', align: 'center', value: 'name'},
          {text: 'Email', align: 'center', value: 'email'},
          {text: 'Number Skill Match', align: 'center', value: 'skill_match'}
        ],
        data: []
      }
    },

    watch: {
      isUpdating (val) {
        if (val) {
          setTimeout(() => (this.isUpdating = false), 3000)
        }
      },
      search: {
        handler (v) {
          if (v) {
            this.isUpdating = true
            this.findByName(v)
            .then(s => {
              this.isUpdating = false
              this.items = s.data.map(n => ({
                name: n.skill_name,
                id: n.skill_id
              }))
            })
          }
        }
      }
    },
    computed: {
      ...mapState([
        'skills',
        'isLoading'
      ])
    },

    methods: {
      ...mapActions([
        'findByName', 
        '_get_all_skills',
        'download'
      ]),
      remove (item) {
        const index = this.select.indexOf(item)
        if (index >= 0) this.select.splice(index, 1)
      },
      getFreelancer () {
        this._get_all_skills(this.select)
          .then(r => {
            if (r) {
              this.data = r.map((m) => ({
                id: m.profiles.freelancer.id,
                name: m.profiles.freelancer.full_name,
                email: m.profiles.freelancer.email,
                skill_match: m.profiles.freelancer_skills.filter(f => this.select.indexOf(f.skill.skill_name) >= 0 ).length
              }))
            }
          })
      },
      downloadCsv () {
        this.download({ url: 'post/freelancer/get-freelancer-searched-by-skills', data: this.select })
          .then((x) => {
            window.location.href = x.request.responseURL
          })
      }
    },
  components: {
    'demo-card': DemoCard,
    'layout-wrapper': LayoutWrapper,
    // VueElementLoading
  }
}
</script>
<style lang="scss" scoped>
.font--red {
  color: red;
}
::v-deep .theme--light.v-text-field--box > .v-input__control > .v-input__slot {
  background-color: #0000000f;
}
.v-card {
  box-shadow: none;
}
</style>