<template>
  <b-modal 
    id="add-skill-modal" 
    title="Add Skill"
  >
    <div class="d-block text-center">
      <form>
        <div class="form-group">
          <b-form-input 
            v-model="model.skill_name" 
            placeholder="Skill Name"
            data-vv-as="Skill Name"
            name="skill_name"
            v-validate="'required'"
            :state="!errors.has('skill_name')"
          ></b-form-input>
           <b-form-invalid-feedback id="input-live-feedback">
              {{ errors.first('skill_name') }}
            </b-form-invalid-feedback>
        </div>
        <div class="form-group">
          <b-form-select 
            placeholder="Category"
            v-if="categories !== undefined && categories !== null" 
            v-model="model.category_id" 
            :options="categories.map(m => ({ text: m.category_name, value: m.category_id }))"
            data-vv-as="Category"
            name="category"
            v-validate="'required'"
            :state="!errors.has('category')"
          ></b-form-select>
          <b-form-invalid-feedback id="input-live-feedback">
              {{ errors.first('category') }}
          </b-form-invalid-feedback>
        </div>
      </form>
    </div>
    <template v-slot:modal-footer>
      <b-button class="mt-2" variant="primary" @click="() => $bvModal.hide('add-skill-modal')">Cancel</b-button>
      <b-button class="mt-2" variant="success" @click="save">
        <span v-if="isSaving"><b-spinner small type="grow" /> Saving...</span>
        <span v-else>Save</span>
      </b-button>
    </template>
  </b-modal>
</template>
<script>
import Vue from 'vue'
import { createNamespacedHelpers } from 'vuex'
import VeeValidate from "vee-validate"
const { mapActions, mapState } = createNamespacedHelpers('skills')

Vue.use(VeeValidate)
export default {
  data: () => ({
    model: { ...model() },
    isSaving: false
  }),
  methods: {
    ...mapActions([
      'allCategories',
      'add'
    ]),
    save () {
      this.$validator.validate().then(valid => {
        if (valid) {
          this.isSaving = true
          this.add(this.model)
            .then((s) => {
              this.isSaving = false
              this.$bvToast.toast(`You have successfully saved ${s.skill_name}`, {
                title: 'Great!',
                variant: 'success',
                solid: true
              })
              this.$bvModal.hide('add-skill-modal')
              this.model = { ...model() }
              this.$validator.reset()
            })
        }
      })
    }
  },
  computed: {
    ...mapState(['categories'])
  },
  created () {
    Promise.all([this.allCategories()])
  }
}
const model = () => ({
  skill_name: null,
  category_id: null
})
</script>