<template>
  <b-modal
    :id="`bv-modal-jobs`"
    size="lg"
    title="Jobs"
    hide-footer
    header-bg-variant="light"
  >
    <template v-slot:modal-title>
      Edit Jobs
    </template>
    <div class="d-block" v-if="selected !== null">
      <b-form-group label="Title">
        <b-form-input v-model="model.title"
                      placeholder="Enter Title"></b-form-input>
      </b-form-group>
      <br />

      <b-form-group label="Introduction">
        <b-form-input v-model="model.intro"
                      placeholder="Enter Intro"></b-form-input>
      </b-form-group>
      <br>

      <b-form-group label="Description">
        <b-form-input v-model="model.description"
                      placeholder="Enter Description"></b-form-input>
      </b-form-group>
      <br>

      <b-form-group label="Approved?" v-if="selected.status
      !== 'paid'">
        <b-form-checkbox size="lg"
                         v-model="plan_status">
        </b-form-checkbox>
      </b-form-group>
    </div>
    <b-button @click="update" :disabled="isLoading" class="mt-5" variant="primary">
      <span v-if="isLoading"><b-spinner small type="grow" /> Updating...</span>
      <span v-else>Update</span>
    </b-button>
    <b-button class="mt-5"
              @click="$bvModal.hide(`bv-modal-jobs`)">Close
    </b-button>
  </b-modal>
</template>
<script>
    import { createNamespacedHelpers } from 'vuex'
    const { mapActions, mapState } =
        createNamespacedHelpers('jobs')
    export default {
        data: () => ({
            model: {
            },
            isLoading: false,
            plan_status: false
        }),

        computed : {
            ...mapState([
                'unverifiedJobCount'
            ]),
        },

        watch: {
            'selected': {
                handler (v) {
                    if (v) {
                        this.model.title = v.title
                        this.model.intro = v.intro
                        this.model.description =
                            v.description
                        this.model.job_id = v.job_id
                    }
                },
                immediate: true,
                deep: true
            },
            'selected.status': {
                handler(v) {
                    this.plan_status = v === 'free_verified';
                }
            }
        },
        methods: {
            ...mapActions([
                'edit',
                'showAll',
                'updateJobCount'
                // 'allCategories'
            ]),
            update () {
                this.isLoading = true
                this.model.plan_status = this.plan_status
                    ? 'free_verified' : 'free_unverified';
                this.edit(this.model)
                    .then(() => {
                        this.$bvModal.hide('bv-modal-jobs')
                        this.$bvToast.toast('Update Successful.', {
                            title: 'Great!',
                            variant: 'success',
                            solid: true
                        })
                        this.isLoading = false
                        Promise.all([this.showAll()]).then((value) => {
                            let vm = this;
                            let count = 0;

                            value[0].data.forEach(function (val) {
                                if (val.plan_status ===
                                    'free_unverified') {
                                    count = count + 1;
                                }
                            });

                            vm.updateJobCount(count);
                        });
                    })
            }
        },
        created() {
        },
        props: {
            data: {
                required: true
            },
            selected: {
                required: true
            }
        }
    }
</script>