<template>
    <div>
        <div class="h-100 bg-plum-plate bg-animation">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <b-col md="8" class="mx-auto app-login-box">
                    <div class="app-logo-inverse mx-auto mb-3"/>

                    <div class="modal-dialog w-100 mx-auto">
                        <form @submit.prevent="login">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="text-center">
                                  <img src="/backend-images/tmmoP9rg.png" width="350">
                                </div>
                                <div class="h5 modal-title text-center">
                                    <h4 class="mt-2">
                                        <span>Please sign in to your account below.</span>
                                    </h4>
                                </div>
                                <b-form-group id="exampleInputGroup1"
                                              label-for="exampleInput1">
                                    <b-form-input id="exampleInput1"
                                                  type="email"
                                                  required
                                                  v-model="model.email"
                                                  placeholder="Enter email...">
                                    </b-form-input>
                                </b-form-group>
                                <b-form-group id="exampleInputGroup2"
                                              label-for="exampleInput2">
                                    <b-form-input id="exampleInput2"
                                                  type="password"
                                                  required
                                                  v-model="model.password"
                                                  placeholder="Enter password...">
                                    </b-form-input>
                                </b-form-group>
                                <b-form-checkbox name="check" id="exampleCheck" v-model="model.remember_me">
                                    Keep me logged in
                                </b-form-checkbox>
                                <div class="divider"/>
                                <!-- <h6 class="mb-0">
                                    No account?
                                    <a href="javascript:void(0);" class="text-primary">Sign up now</a>
                                </h6> -->
                            </div>
                            <div class="modal-footer clearfix">
                                <!-- <div class="float-left">
                                    <a href="javascript:void(0);" class="btn-lg btn btn-link">Recover
                                        Password</a>
                                </div> -->
                                <div class="float-right">
                                    <!-- <b-button variant="primary" size="lg">Login to Dashboard</b-button> -->
                                    <b-button :disabled="isLoading" variant="primary" type="submit" size="lg">
                                      <span v-if="isLoading"><b-spinner small type="grow" /> Redirecting...</span>
                                      <span v-else>Login to Dashboard</span>
                                    </b-button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="text-center text-white opacity-8 mt-3">
                        Copyright &copy; 2020 CitronWorks, Inc
                    </div>
                </b-col>
            </div>
        </div>
    </div>
</template>
<script>
import { createNamespacedHelpers } from 'vuex'
const { mapActions } = createNamespacedHelpers('auth')
export default {
  data: () => ({
    slickOptions6: {
      dots: true,
      infinite: true,
      speed: 500,
      arrows: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      fade: true,
      initialSlide: 0,
      autoplay: true,
      adaptiveHeight: true
    },
    slide: 0,
    sliding: null,
    isLoading: null,
    model: { ...model() }
  }),
  methods: {
    ...mapActions(['authenticate']),
    handleClick(newTab) {
      this.currentTab = newTab;
    },
    next() {
      this.$refs.slick.next();
    },
    prev() {
      this.$refs.slick.prev();
    },
    reInit() {
      this.$nextTick(() => {
      this.$refs.slick.reSlick();
    });
    },
    onSlideStart() {
      this.sliding = true
    },
    onSlideEnd() {
      this.sliding = false
    },
    login () {
      const uri = this.$route.fullPath.split('=')
      this.isLoading = true
      this.authenticate(this.model)
      .then(() => 
        this.$route.fullPath === '/' 
        ? this.$router.push('/dashboard')
        : this.$router.push(decodeURIComponent(uri[1])))
      .catch(e => {
        this.$bvToast.toast(e, {
          title: 'Whoops something went wrong!',
          variant: 'danger',
          solid: true
        })
        this.isLoading = false
      })
    }
  }
}
const model = () => ({
  email: null,
  password: null,
  remember_me: null
})
</script>
