<template>
  <div>
    <layout-wrapper>
      <demo-card color="#333" heading="Suggested Skills">
        <!-- <v-toolbar>
          <v-autocomplete
            v-model="select"
            item-color="#333"
            :loading="loading"
            :items="items"
            :search-input.sync="search"
            cache-items
            class="mx-3"
            flat
            hide-no-data
            hide-details
            label="Search Suggested Skills"
            solo-inverted
            chips
            clearable
            hide-selected
            item-text="name"
            item-value="symbol"
            solo
          ></v-autocomplete>
        </v-toolbar> -->
        <VueElementLoading :active="vueComponentsLoading" spinner="ring" color="var(--info)" />
        <v-data-table
          v-if="suggestedSkills !== undefined && suggestedSkills.data !== undefined"
          :headers="headers"
          :items="suggestedSkills.data.map(m => ({ 
            skill_proposal_id: m.skill_proposal_id, 
            skill_name: m.skill_name, 
            approved: m.approved,
            member_type: m.member_type,
            member_id: 
              m.freelancer && m.member_type === 'freelancer' 
              ? m.freelancer.freelancer_id 
              : (m.employer && m.member_type === 'employer' ? m.employer.id : null),
            rating: m.rating,
            job_id: m.job_id || null,
          }))"
          class="elevation-1"
          hide-actions
          disable-pagination
        >
          <template v-slot:items="props">
            <tr>
              <td class="text-xs-center">
                <div v-if="!props.item.approved || props.item.approved === '0'" class="mb-2 mr-2 badge badge-dot badge-dot-lg badge-danger">Unapprove</div>
                <div v-else class="mb-2 mr-2 badge badge-dot badge-dot-lg badge-success">Approved</div>
                {{ props.item.skill_name }}
              </td>
              <td class="justify-center layout py-4 px-0">
                <v-icon
                  small
                  class="pe-7s-check"
                  :class="{
                    'font--red': !props.item.approved || props.item.approved === '0',
                    'text-success': props.item.approved === '1'
                  }"
                  @click="approve(props.item)"
                  v-if="!props.item.approved || props.item.approved === '0'"
                ></v-icon>
                <div class="widget-content-right" v-if="props.item.approved === '1'">
                  -
                  <!-- <button @click="toDisapprove(props.item)" class="badge badge-success">Approved</button> -->
                </div>
                <!-- <v-icon
                  small
                  class="mr-2"
                  @click="editItem(props.item)">
                  edit
                </v-icon> -->
                <v-icon
                  v-if="!props.item.approved || props.item.approved === '0'"
                  small
                  @click="deleteItem(props.item)"
                >
                  delete
                </v-icon>
            </td>
          </tr>
          </template>
        </v-data-table>
        <div class="text-xs-center pt-2">
          <b-pagination size="md" :per-page="suggestedSkills.per_page" :total-rows="suggestedSkills.total" v-model="suggestedSkills.current_page" />
        </div>
      </demo-card>
    </layout-wrapper>
    <b-modal 
      size="md"
      header-bg-variant="success" 
      footer-bg-variant="light"
      body-bg-variant="light" 
      header-text-variant="light" 
      id="modal-toapprove" 
      title="Approve a skill"
    >
       <b-form-group
        id="input-group-1"
        label="Category:"
        label-for="input-1"
      >
        <b-form-select
          id="input-3"
          :options="categories.map(d => ({ text: d.category_name, value: d.category_id }))"
          v-model="selected.category_id"
          required
        ></b-form-select>
      </b-form-group>
      <b-form-group
        id="input-group-1"
        label="Skill Name:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          type="text"
          required
          v-model="selected.skill_name"
          placeholder="Enter skill"
        ></b-form-input>
      </b-form-group>
      <template v-slot:modal-footer>
        <b-button size="sm" variant="danger" @click="$bvModal.hide('modal-toapprove')">
          Cancel
        </b-button>
        <b-button size="sm" variant="success" @click="confirmApprove">
          <span v-if="stateActions.isSavingSuggestedSkill"><b-spinner small type="grow" /> Approving...</span>
          <span v-else>Approve</span>
        </b-button>
      </template>
    </b-modal>
    
    <b-modal 
      size="md"
      header-bg-variant="danger" 
      footer-bg-variant="light"
      body-bg-variant="light" 
      header-text-variant="light" 
      id="modal-tounapprove" 
      title="Disapprove a skill"
    >
      <h4>Are you sure you want to disapprove <strong>{{ Object.keys(selected).length 
          && suggestedSkills.data.find(f => f.skill_proposal_id === selected.skill_proposal_id) !== undefined 
          && suggestedSkills.data.find(f => f.skill_proposal_id === selected.skill_proposal_id).skill_name }}</strong>?</h4>
      <p><strong>This will revert all records</strong></p>
      <template v-slot:modal-footer>
        <b-button size="sm" variant="info" @click="$bvModal.hide('modal-tounapprove')">
          Cancel
        </b-button>
        <b-button size="sm" variant="danger" @click="confirmDisapprove">
          <span v-if="stateActions.isSavingSuggestedSkill"><b-spinner small type="grow" /> Reverting...</span>
          <span v-else>Revert</span>
        </b-button>
      </template>
    </b-modal>

    <b-modal 
      size="md"
      header-bg-variant="danger" 
      footer-bg-variant="light"
      body-bg-variant="light" 
      header-text-variant="light" 
      id="modal-delete-skill" 
      title="Delete a suggested skill"
    >
      <h4>Are you sure you want to delete <strong>{{ Object.keys(selected).length 
          && suggestedSkills.data.find(f => f.skill_proposal_id === selected.skill_proposal_id) !== undefined 
          && suggestedSkills.data.find(f => f.skill_proposal_id === selected.skill_proposal_id).skill_name }}</strong>?</h4>
      <p><strong>This can't be undone.</strong></p>
      <template v-slot:modal-footer>
        <b-button size="sm" variant="info" @click="$bvModal.hide('modal-delete-skill')">
          Cancel
        </b-button>
        <b-button size="sm" variant="danger" @click="confirmDelete">
          <span v-if="stateActions.isSavingSuggestedSkill"><b-spinner small type="grow" /> Removing...</span>
          <span v-else>Remove</span>
        </b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import DemoCard from '@layout/Components/DemoCard';
import LayoutWrapper from '@layout/Components/LayoutWrapper';
import VueElementLoading from 'vue-element-loading'
// import _ from 'lodash'
import { createNamespacedHelpers } from 'vuex'
const { mapActions, mapState } = createNamespacedHelpers('skills')

export default {
  methods: {
    ...mapActions([
      'fetchSuggestedSkills',
      '_approve_skill',
      '_disapprove_skill',
      '_delete_suggested_skill'
    ]),
    approve (s) {
      this.selected = s
      this.selected = { ...this.selected, category_id: null }
      this.$bvModal.show('modal-toapprove')
    },
    confirmApprove () {
      this._approve_skill(this.selected)
        .then(() => {
          this.$bvModal.hide('modal-toapprove')
        })
    },
    toDisapprove (item) {
      this.selected = item
      this.$bvModal.show('modal-tounapprove')
    },
    confirmDisapprove () {
      this._disapprove_skill(this.selected)
        .then(() => this.$bvModal.hide('modal-tounapprove'))
    },
    editItem () {},
    deleteItem (item) {
      this.selected = item
      this.$bvModal.show('modal-delete-skill')
    },
    confirmDelete () {
      this._delete_suggested_skill(this.selected)
        .then(() => this.$bvModal.hide('modal-delete-skill'))
    }
  },
  watch: {
    'suggestedSkills.current_page' (v) {
      if (v) {
        this.vueComponentsLoading = true
        this.fetchSuggestedSkills(v)
          .then(() => this.vueComponentsLoading = false)
      }
    }
  },
  computed: {
    ...mapState([
      'suggestedSkills',
      'stateActions'
    ]),
    categories () {
      return this.$store.getters['category/categories']
    }
  },
  data: () => ({
    headers: [
      // { text: 'Skill ID', value: 'skill_proposal_id', align: 'center'},
      { text: 'Skill Name', value: 'skill_name', align: 'center'},
      { text: 'Actions', value: 'skill_proposal_id', sortable: false, align: 'center' }
    ],
    loading: false,
    actions: {
      isSaving: false,
      isUpdating: false,
      isDeleting: false
    },
    selected: {},
    vueComponentsLoading: false
  }),
  created () {
    Promise.all([this.fetchSuggestedSkills(), this.$store.dispatch('category/showAll')])
  },
  components: {
    'demo-card': DemoCard,
    'layout-wrapper': LayoutWrapper,
    VueElementLoading
  }
}
</script>
<style lang="scss" scoped>
.font--red {
  color: red;
}
</style>