<template>
  <div>
    <layout-wrapper>
      <demo-card color="#333" heading="Search Jobs">
        <v-toolbar>
          <v-autocomplete
            v-model="select"
            item-color="#333"
            :loading="loading"
            :items="items"
            :search-input.sync="search"
            cache-items
            class="mx-3"
            flat
            hide-no-data
            hide-details
            label="E.g: John Doe"
            solo-inverted
            chips
            clearable
            hide-selected
            item-text="name"
            item-value="name"
            solo
          >
          </v-autocomplete>
        </v-toolbar>
      </demo-card>
        <v-data-table
          v-if="employers !== undefined && employers.data !==
          undefined"
          :headers="headers"
          :items="employers.data.map(m => ({
            id: m.id,
            fname: m.first_name,
            lname: m.last_name,
            email: m.email
          }))"
          class="elevation-1"
          hide-actions
          disable-pagination
          disable-initial-sort
        >
          <template v-slot:items="props">
            <td class="text-xs-center">{{ props.item.id }}</td>
            <td class="text-xs-center">{{ props.item.fname }}</td>
            <td class="text-xs-center">{{ props.item.lname }}</td>
            <td class="text-xs-center">{{ props.item.email }}</td>
            <!-- <td class="justify-center layout py-4 px-0">
              <v-icon
                small
                class="mr-2"
                @click="editItem(props.item)">
                edit
              </v-icon>
          </td> -->
          </template>
        </v-data-table>
        <div class="text-xs-center pt-2">
          <b-pagination
            size="md"
            :per-page="employers.per_page"
            :total-rows="employers.total"
            v-model="currentPage"
          />
        </div>
    </layout-wrapper>
  </div>
</template>
<script>
import DemoCard from '@layout/Components/DemoCard';
import LayoutWrapper from '@layout/Components/LayoutWrapper';
import _ from 'lodash'

import { createNamespacedHelpers } from 'vuex'
const { mapActions, mapState } = createNamespacedHelpers('employers')

export default {
  data: () => ({
    headers: [
      { text: 'ID', value: 'id', align:
              'center'},
      { text: 'First Name', value: 'fname', align:
              'center'},
      { text: 'Last Name', value: 'lname', align:
              'center'},
      { text: 'Email', value: 'email', align:
          'center', sortable: false }
    ],
    currentPage: 1,
    select: null,
    search: null,
    items: [],
    loading: false,
    selected: null,
    toDelete: {},
    isDeleting: false,
    per_page: 2
  }),
  methods: {
    ...mapActions([
      '_get_employers',
      'findByName'
    ])
  },
  watch: {
    currentPage (v) {
      if (v) {
        const search = v !== 1 ? '?page='+v : ''
        this._get_employers(search)
      }
    },
    search: _.debounce(function(v){
      if (v) {
        this.findByName(v)
          .then(g => this.items = g.data.map(n => [n.first_name,n.last_name].join(' ')))
      }
    }, 1000),
    select: _.debounce(function(v){
      if (v) {
        this.findByName(v)
        return
      }
      this.showAll()
    }, 1000),
  },
  computed: {
    ...mapState(['employers'])
  },
  created() {
    Promise.all([this._get_employers()])
  },
  components: {
    'demo-card': DemoCard,
    'layout-wrapper': LayoutWrapper
  }
}
</script>