<template>
  <layout-wrapper>
    <demo-card color="#333" heading="View Categories">
      <b-button @click="toAddCategory" class="mr-2 mb-2 btn-pill btn-icon" variant="outline-info">
        <i class="btn-icon-wrapper pe-7s-plus"></i> Add Category
      </b-button>
      <v-data-table
          v-if="categories !== undefined && categories.data !== undefined"
          :headers="headers"
          :items="categories.data.map(m => ({ category_id: m.category_id, category_name: m.category_name }))"
          :items-per-page="10"
          class="elevation-1"
          :hide-default-header="true"
          :hide-default-footer="true"
          hide-actions
          disable-pagination
          item-key="category_id"
          v-model="selected"
        >
          <template v-slot:items="props">
            <td class="text-xs-center">{{ props.item.category_name }}</td>
            <td class="justify-center layout py-4 px-0">
              <v-icon
                small
                class="mr-2"
                @click="editItem(props.item)">
                edit
              </v-icon>
              <v-icon
                small
                @click="deleteItem(props.item)"
              >
                delete
              </v-icon>
          </td>
          </template>
        </v-data-table>
        <div class="text-xs-center pt-2">
          <b-pagination size="md" :per-page="categories.per_page" :total-rows="categories.total" v-model="currentPage" />
        </div>
        <Edit :data="toEdit" />
        <b-modal 
          v-if="toDelete !== null"
          size="sm"
          header-bg-variant="danger" 
          footer-bg-variant="light"
          body-bg-variant="light" 
          header-text-variant="light" 
          id="modal-todelete" 
          title="Delete Category"
        >
          <p class="my-4">Are you sure you want to delete <strong>{{ toDelete.category_name }}</strong>?</p>
          <template v-slot:modal-footer>
            <b-button size="sm" variant="success" @click="$bvModal.hide('modal-todelete')">
              Cancel
            </b-button>
            <b-button size="sm" variant="danger" @click="confirmDelete">
              <span v-if="isDeleting"><b-spinner small type="grow" /> Deleting...</span>
              <span v-else>Delete</span>
            </b-button>
          </template>
        </b-modal>
        <Add />
    </demo-card>
  </layout-wrapper>
</template>
<script>
import LayoutWrapper from '@layout/Components/LayoutWrapper';
import DemoCard from '@layout/Components/DemoCard';
import Add from '@components/Category/modals/add.vue'
import Edit from '@components/Category/modals/edit.vue'
import { createNamespacedHelpers } from 'vuex'
const { mapActions, mapState } = createNamespacedHelpers('category')

export default {
  data: () => ({
    selected: [],
    headers: [
      { text: 'Category Name', value: 'category_name', align: 'center' },
      { text: 'Actions', value: 'category_id', sortable: false }
    ],
    currentPage: 1,
    toEdit: null,
    toDelete: null,
    isDeleting: false
  }),
  computed: {
    ...mapState([
      'categories'
    ])
  },
  methods: {
    ...mapActions([
      'show',
      'destroy'
    ]),
    editItem (item) {
      this.toEdit = item
      this.$bvModal.show('bv-modal-edit-category')
    },
    deleteItem (item) {
      this.$bvModal.show('modal-todelete')
      this.toDelete = item
    },
    confirmDelete () {
      this.destroy(this.toDelete.category_id)
        .then(() => {
          this.$bvModal.hide('modal-todelete')
          this.$bvToast.toast('You have successfuly deleted a category.', {
            title:'Great!',
            variant: 'success',
            solid: true
          })
        })
    },
    toAddCategory () {
      this.$bvModal.show('add-category-modal')
    }
  },
  created () {
    Promise.all([this.show()])
    this.$watch(() => this.currentPage, (v) => {
      if (v) {
        this.show('?page='+v)
      }
    }, { deep: true })
  },
  components: {
    LayoutWrapper,
    DemoCard,
    Edit,
    Add
  }
}
</script>