<template>
<b-card title="" class="main-card mb-3">
  <div v-if="actions.freelancers.isCompleted">
    <v-alert
      :value="true"
      color="success"
      icon="check_circle"
      outline
    >
      Successfully added new freelancer.
    </v-alert>
    <div class="d-flex flex-wrap">
      <b-button @click="$router.push('/freelancers/stats')" class="mr-2 mb-2" variant="success" size="lg">
        Back to freelancer
      </b-button>
      <b-button class="mr-2 mb-2" variant="success" size="lg" @click="() => $store.dispatch('freelancers/_reset_freelancer_form')">
        Add more freelancer
      </b-button>
    </div>
  </div>
  <form-wizard
    v-else
    title="" 
    subtitle=""
    color="#565366"
    @on-complete="onComplete"
  >
    <tab-content 
      title="Freelancers"
      icon="pe-7s-rocket"
      :before-change="() => validateStep('step1')"
    >
      <b-form ref="step1" data-vv-scope="step1">
        <div class="d-flex flex-wrap">
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="First Name"
              label-for="input-1"
              >
                <b-form-input
                  id="freelancer-first_name"
                  type="text"
                  v-validate="'required'"
                  placeholder="Enter First Name"
                  v-model="model.freelancer.first_name"
                  name="first_name"
                  data-vv-as="First Name"
                ></b-form-input>
                <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancer-first_name">{{ errors.first('step1.first_name') }}</b-form-invalid-feedback>
            </b-form-group>
            <b-form-group
              id="input-group-1"
              label="Last Name"
              label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  v-validate="'required'"
                  placeholder="Enter Last Name"
                  v-model="model.freelancer.last_name"
                  name="last_name"
                  data-vv-as="Last Name"
                ></b-form-input>
                <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancer-last_name">{{ errors.first('step1.last_name') }}</b-form-invalid-feedback>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-card title="Upload Photo" class="main-card mb-3">
              <vue-dropzone 
                ref="myVueDropzone" 
                id="dropzone" 
                :options="dropzoneOptions"
                @vdropzone-success="uploadSuccess"
              ></vue-dropzone>
            </b-card>
          </div>
        </div>
        <div class="d-flex flex-wrap">
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Email"
              label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  type="email"
                  v-validate="'required|email'"
                  placeholder="Enter email"
                  v-model="model.freelancer.email"
                  data-vv-as="Email"
                  name="email"
                ></b-form-input>
                <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancer-email">{{ errors.first('step1.email') }}</b-form-invalid-feedback>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Role"
              label-for="input-1"
              >
                <b-form-select 
                  :options="role"
                  v-model="model.freelancer.role"
                  name="role"
                  v-validate="'required'"
                  data-vv-as="Role"
                ></b-form-select>
                <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancer-role">{{ errors.first('step1.role') }}</b-form-invalid-feedback>
            </b-form-group>
          </div>
        </div>
        <div class="d-flex flex-wrap">
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Password"
              label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  type="password"
                  v-validate="'required'"
                  ref="password"
                  v-model="model.freelancer.password"
                  data-vv-as="Password"
                  name="password"
                ></b-form-input>
                <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancer-password">{{ errors.first('step1.password') }}</b-form-invalid-feedback>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Repeat Password"
              label-for="input-1"
              >
              <b-form-input
                  id="input-1"
                  type="password"
                  v-validate="'required|confirmed:password'"
                  v-model="model.freelancer.cpassword"
                  data-vv-as="Confirm Password"
                  name="cpassword"
                ></b-form-input>
                <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancer-cpassword">{{ errors.first('step1.cpassword') }}</b-form-invalid-feedback>
            </b-form-group>
          </div>
        </div>
      </b-form>
    </tab-content>
    <tab-content 
      title="Freelancer Profile"
      icon="pe-7s-albums"
      :before-change="() => validateStep('step2')"
    >
      <b-form ref="step2" data-vv-scope="step2" v-for="(f, i) in model.freelancer_profile" :key="i">
        <div v-if="i >= 1">
          <v-divider></v-divider>
          <v-btn flat icon color="dark" @click="removeProfile(f.id)">
            <v-icon>pe-7s-trash</v-icon>
          </v-btn>
        </div>
        <div class="d-flex flex-wrap">
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Title"
              label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  v-validate="'required'"
                  v-model="f.title"
                  name="title"
                  data-vv-as="Title"
                ></b-form-input>
                <!-- <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancerprofile-title">{{ errors.first('step2.title') }}</b-form-invalid-feedback> -->
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Freelancer Type"
              label-for="input-1"
              >
                <b-form-select 
                  :options="freelancerType"
                  v-model="f.freelancer_type"
                  name="freelancer_type"
                  v-validate="'required'"
                  data-vv-as="Freelancer Type"
                ></b-form-select>
                <!-- <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancerprofile-freelancer_type">{{ errors.first('step2.freelancer_type') }}</b-form-invalid-feedback> -->
            </b-form-group>
          </div>
        </div>
        <div class="d-flex flex-wrap">
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Intro"
              label-for="input-1"
              >
                <textarea-autosize
                  class="form-control"
                  :min-height="70"
                  :max-height="300"
                  v-model="f.intro"
                ></textarea-autosize>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Description"
              label-for="input-1"
              >
                <textarea-autosize
                  class="form-control"
                  :min-height="70"
                  :max-height="300"
                  v-model="f.description"
                ></textarea-autosize>
            </b-form-group>
          </div>
        </div>
        <div class="d-flex flex-wrap">
          <div class="col-12">
            <b-form-group
              id="input-group-1"
              label="Category"
              label-for="input-1"
            >
              <b-form-select
                :options="categories.map(m => ({ value: m.category_id, text: m.category_name }))"
                v-model="f.category"
                data-vv-as="Category"
                v-validate="'required'"
                name="category"
              ></b-form-select>
              <!-- <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancerprofile-category">{{ errors.first('step2.category') }}</b-form-invalid-feedback> -->
            </b-form-group>
          </div>
        </div>
        <div>
          <v-autocomplete
            v-model="fskills[i].select"
            item-color="#333"
            background-color="#FFF"
            :loading="fskills[i].loading"
            :items="fskills[i].skillItems"
            :search-input.sync="fskills[i].searchSkills"
            class="mx-3"
            flat
            hide-no-data
            hide-details
            label="Add Skills E.g: Information Technology"
            solo-inverted
            :clearable="true"
            :open-on-clear="true"
            hide-selected
            item-text="name"
            item-value="symbol"
            solo
            @keyup="handleSearchSkills(i)"
            @keyup.enter="addSkills(i)"
          ></v-autocomplete>
          <div class="d-flex flex-wrap mt-3">
            <div class="main-card mb-3 col-sm-6 col-12" v-for="s in f.skills" :key="s.skill_id">
              <b-card v-if="s.isAdded" :title="s.skill_name">
                <a href="javascript:void(0);" style="font-size: 30px;position: absolute;top: 6px;right: 10px;" @click="removeSkill(i, s.skill_id)"><i class="pe-7s-close"></i></a>
                <rate :length="5" v-model="s.pivot.rating" />
              </b-card>
            </div>
          </div>
        </div>
      </b-form>
      <div class="error--list">
        <ul>
          <li class="text-danger" v-for="e in errors.items" :key="e.id">
            <span v-if="e.scope === 'step2'">{{ e.msg }}</span>
          </li>
        </ul>
      </div>
    </tab-content>
    <tab-content 
      title="Freelancer Company"
      icon="pe-7s-file"
      :before-change="() => validateStep('step3')"
    >
      <b-form ref="step3">
        <div class="d-flex flex-wrap">
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Company Name"
              label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  v-model="model.freelancer_company.company_name"
                ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Title"
              label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  v-model="model.freelancer_company.title"
                ></b-form-input>
            </b-form-group>
          </div>
        </div>
        <div class="d-flex flex-wrap">
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Address 1"
              label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  v-model="model.freelancer_company.address_1"
                ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Address 2"
              label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  v-model="model.freelancer_company.address_2"
                ></b-form-input>
            </b-form-group>
          </div>
        </div>
        <div class="d-flex flex-wrap">
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Zip"
              label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  v-model="model.freelancer_company.zip"
                ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="State"
              label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  v-model="model.freelancer_company.state"
                ></b-form-input>
            </b-form-group>
          </div>
        </div>
        <div class="d-flex flex-wrap">
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Country"
              label-for="input-1"
              >
                <b-form-select 
                  :options="country.map(c => ({ value: c.code, text: c.name }))"
                   v-model="model.freelancer_company.country"
                ></b-form-select>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Url"
              label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  type="text"
                  v-model="model.freelancer_company.url"
                ></b-form-input>
            </b-form-group>
          </div>
        </div>
        <div class="d-flex flex-wrap">
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Intro"
              label-for="input-1"
              >
                <textarea-autosize
                  class="form-control"
                  :min-height="70"
                  :max-height="300"
                  v-model="model.freelancer_company.intro"
                ></textarea-autosize>
            </b-form-group>
          </div>
          <div class="col-6">
            <b-form-group
              id="input-group-1"
              label="Description"
              label-for="input-1"
              >
                <textarea-autosize
                  class="form-control"
                  :min-height="70"
                  :max-height="300"
                  v-model="model.freelancer_company.description"
                ></textarea-autosize>
            </b-form-group>
          </div>
        </div>
      </b-form>
    </tab-content>
    <template slot="custom-buttons-right" slot-scope="props">
      <button 
        v-if="props.activeTabIndex === 1"
        @click="addProfile"
        type="button"
        class="wizard-btn"
        style="background-color: #565366; border-color: #565366; color: white;"
      ><i class="pe-7s-plus"></i> Add Profile</button>
    </template>
    <button slot="finish" class="wizard-btn wizard-footer-right" style="background-color: #565366; border-color: #565366; color: white;" :disabled="actions.freelancers.isCreating">
      <span v-if="actions.freelancers.isCreating"><b-spinner small type="grow" /> Saving...</span>
      <span v-else>Save</span>
    </button>
  </form-wizard>
</b-card>
</template>
<script>
import Vue from 'vue'
import _ from 'lodash'
import { FormWizard, TabContent } from 'vue-form-wizard'
import { createNamespacedHelpers } from 'vuex'
import VeeValidate from "vee-validate"
import vue2Dropzone from 'vue2-dropzone'
import uuid from '../../modules/security/uuid.js'
import VueTextareaAutosize from 'vue-textarea-autosize'
import rate from 'vue-rate'
const { mapActions, mapState } = createNamespacedHelpers('skills')
import country from '../../data/country.js'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

Vue.use(VeeValidate)
Vue.use(rate)
Vue.use(VueTextareaAutosize)
export default {
  methods: {
    ...mapActions([
      'findByName',
      'allCategories',
      'create'
    ]),
    addSkills (i) {
      const dup = this.model.freelancer_profile[i].skills.map(m => m.skill_name)
      if (dup.includes(this.fskills[i].select)) {
        this.$bvToast.toast('You have already added that skill', {
          title: 'Whoops! Something went wrong.',
          variant: 'danger',
          solid: true
        })
        return
      }
      if (this.fskills[i].select !== '' && this.fskills[i].select !== null) {
        const search = this.skills.data.find(f => f.skill_name === this.fskills[i].select)
        this.model.freelancer_profile[i].skills = [ ...this.model.freelancer_profile[i].skills, { ...search, isNew: true, isAdded: true, pivot: { rating: null } }]
        this.fskills[i].select = ''
      }
    },
    removeSkill (i, id) {
      const skillIndex = this.model.freelancer_profile[i].skills.findIndex(f => f.skill_id == id)
      this.$set(this.model.freelancer_profile[i].skills, [skillIndex], { ...this.model.freelancer_profile[i].skills[skillIndex], isAdded: false })
    },
    uploadSuccess (u, res) {
      this.model.freelancer.profile_photo = res.data
    },
    onComplete () {
      this.$store.dispatch('freelancers/create', this.model)
        .then(() => this.model = { ...model() })
    },
    validateStep(name) {
      return new Promise((resolve, reject) => {
        this.$validator.validateAll(name).then(valid => {
          if (!valid) {
            reject('Error')
          }
          resolve(true)
        })
      })
    },
    setLoading: function() {
      this.loadingWizard = this.actions.freelancers.isCreating
    },
    addProfile () {
      this.model.freelancer_profile = [...this.model.freelancer_profile, freelancer_profile()]
      this.fskills = [...this.fskills, {
        select: null,
        searchSkills: null,
        loading: false,
        skillItems: []
      }]
    },
    removeProfile (id) {
      this.model.freelancer_profile = this.model.freelancer_profile.filter(d => d.id !== id)
    },
    handleSearchSkills: _.debounce(function(i){
      this.findByName(this.fskills[i].searchSkills)
        .then(g => this.fskills[i].skillItems = g.data.map(m => m.skill_name ))
        return
    }, 500)
  },
  computed: {
    ...mapState([
      'categories',
      'skills'
    ]),
    actions () {
      return this.$store.getters['freelancers/actions']
    }
  },
  created () {
    Promise.all([this.allCategories()])
  },
  data: () => ({
    role: [{
      value: 'owner',
      text: 'Owner'
    }, {
      value: 'admin',
      text: 'Admin'
    }, {
      value: 'freelancer',
      text: 'Freelancer'
    }],
    freelancerType: [{
      value: 'persona',
      text: 'Persona'
    }, {
      value: 'person',
      text: 'Person'
    }],
    country,
    dropzoneOptions: {
      url: '/web/v1/post/freelancer/photo',
      thumbnailWidth: 150,
      maxFilesize: 0.5,
      addRemoveLinks: true,
      headers: { "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content }
    },
    loadingWizard: false,
    model: { ...model() },
    fskills: [{ ...fskills() }]
  }),
  components: {
    FormWizard,
    TabContent,
    vueDropzone: vue2Dropzone
  }
}
const model = () => ({
  freelancer: {
    first_name: '',
    last_name: '',
    email: '',
    password: '',
    cpassword: '',
    role: '',
    profile_photo: ''
  },
  freelancer_profile: [{ ...freelancer_profile() }],
  freelancer_company: {
    company_name: '',
    address_1: '',
    address_2: '',
    zip: '',
    state: '',
    country: '',
    title: '',
    intro: '',
    description: '',
    url: ''
  }
})
const freelancer_profile = () => ({
  title: '',
  freelancer_type: '',
  intro: '',
  description: '',
  category: '',
  skills: [],
  id: uuid()
})
const fskills = () => ({
  select: null,
  searchSkills: null,
  loading: false,
  skillItems: []
})
</script>
<style lang="scss" scoped>
  ::v-deep .v-input__slot {
    border: 1px solid #ced4da !important;
  }
  ::v-deep .v-input__slot input {
    color: #000!important;
  }
</style>