<template>
  <div class="content">
    <b-row>
      <b-col md="12">
        <b-card class="mb-3" no-body>
          <b-tabs card>
            <b-tab title="Freelancer" active>
              <b-form ref="step1" data-vv-scope="step1" @submit.prevent="events('freelancer')">
                <div class="d-flex flex-wrap">
                  <div class="col-6">
                    <b-form-group
                      id="input-group-1"
                      label="First Name"
                      label-for="input-1"
                      >
                        <b-form-input
                          id="freelancer-first_name"
                          type="text"
                          v-validate="'required'"
                          placeholder="Enter First Name"
                          v-model="model.freelancer.first_name"
                          name="first_name"
                          data-vv-as="First Name"
                        ></b-form-input>
                        <!-- <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancer-first_name">{{ errors.first('step1.first_name') }}</b-form-invalid-feedback> -->
                    </b-form-group>
                    <b-form-group
                      id="input-group-1"
                      label="Last Name"
                      label-for="input-1"
                      >
                        <b-form-input
                          id="input-1"
                          type="text"
                          v-validate="'required'"
                          placeholder="Enter Last Name"
                          v-model="model.freelancer.last_name"
                          name="last_name"
                          data-vv-as="Last Name"
                        ></b-form-input>
                        <!-- <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancer-last_name">{{ errors.first('step1.last_name') }}</b-form-invalid-feedback> -->
                    </b-form-group>
                    <b-form-group
                      id="input-group-1"
                      label="Email"
                      label-for="input-1"
                      >
                        <b-form-input
                          id="input-1"
                          type="email"
                          v-validate="'required|email'"
                          placeholder="Enter email"
                          v-model="model.freelancer.email"
                          data-vv-as="Email"
                          name="email"
                        ></b-form-input>
                        <!-- <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancer-email">{{ errors.first('step1.email') }}</b-form-invalid-feedback> -->
                    </b-form-group>
                  </div>
                  <div class="col-6">
                    <b-card title="Upload Photo" class="main-card mb-3">
                      <vue-dropzone 
                        ref="myVueDropzone" 
                        id="customdropzone" 
                        :options="dropzoneOptions"
                        @vdropzone-mounted="mountPhoto"
                        @vdropzone-success="uploadSuccess"
                      ></vue-dropzone>
                    </b-card>
                  </div>
                </div>
                <div class="d-flex flex-wrap">
                </div>
                <!-- <b-form-group>
                  <toggle-button
                    :width="120"
                    :value="true"
                    color="#d92d25"
                    v-model="model.freelancer.pwdEdit"
                    :labels="{checked: 'You can now modify the password', unchecked: 'Modify Password'}"/>
                </b-form-group> -->
                <!-- <div class="d-flex flex-wrap" v-if="model.freelancer.pwdEdit">
                  <div class="col-6">
                    <b-form-group
                      id="input-group-1"
                      label="Password"
                      label-for="input-1"
                      >
                        <b-form-input
                          id="input-1"
                          type="password"
                          v-validate="'required'"
                          ref="password"
                          v-model="model.freelancer.password"
                          data-vv-as="Password"
                          name="password"
                        ></b-form-input>
                        <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancer-password">{{ errors.first('step1.password') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </div>
                  <div class="col-6">
                    <b-form-group
                      id="input-group-1"
                      label="Repeat Password"
                      label-for="input-1"
                      >
                      <b-form-input
                          id="input-1"
                          type="password"
                          v-validate="'required|confirmed:password'"
                          v-model="model.freelancer.cpassword"
                          data-vv-as="Confirm Password"
                          name="cpassword"
                        ></b-form-input>
                        <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancer-cpassword">{{ errors.first('step1.cpassword') }}</b-form-invalid-feedback>
                    </b-form-group>
                  </div>
                </div> -->
                <div class="row justify-content-lg-end mx-2">
                  <b-button :disabled="actions.freelancers.isUpdating" variant="primary" type="submit" size="lg">
                    <span v-if="actions.freelancers.isUpdating"><b-spinner small type="grow" /> Updating...</span>
                    <span v-else>Update</span>
                  </b-button>
                </div>
                <div style="height:25px" class="text-success row justify-content-lg-end mx-2 mt-1">
                  <span v-if="actions.freelancers.isUpdated">Successfully Updated</span>
                </div>
              </b-form>
            </b-tab>
            <b-tab title="Freelancer Profile">
              <b-form data-vv-scope="step2">
                <div v-for="(f, i) in model.freelancer.profiles" :key="i" v-if="!f.isRemoved">
                  <div v-if="i >= 1">
                    <v-divider></v-divider>
                    <v-btn flat icon color="dark" @click="removeProfile(i)">
                      <v-icon>pe-7s-trash</v-icon>
                    </v-btn>
                  </div>
                  <div class="col-12">
                      <b-form-group
                        id="input-group-1"
                        label="Title"
                        label-for="input-1"
                        >
                          <b-form-input
                            id="input-1"
                            type="text"
                            v-validate="'required'"
                            v-model="f.title"
                            name="title"
                            data-vv-as="Title"
                          ></b-form-input>
                          <!-- <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancerprofile-title">{{ errors.first('step2.title') }}</b-form-invalid-feedback> -->
                      </b-form-group>
                  </div>
                  <div class="d-flex flex-wrap">
                    <!-- <div class="col-6">
                      <b-form-group
                        id="input-group-1"
                        label="Freelancer Type"
                        label-for="input-1"
                        >
                          <b-form-select 
                            :options="freelancerType"
                            v-model="f.freelancer_type"
                            name="freelancer_type"
                            v-validate="'required'"
                            data-vv-as="Freelancer Type"
                          ></b-form-select>
                          <b-form-invalid-feedback class="invalid-feedback d-block" id="freelancerprofile-freelancer_type">{{ errors.first('step2.freelancer_type') }}</b-form-invalid-feedback>
                      </b-form-group>
                    </div> -->
                    <div class="col-12">
                      <b-form-group
                        id="input-group-1"
                        label="Intro"
                        label-for="input-1"
                        >
                          <textarea-autosize
                            class="form-control"
                            :min-height="70"
                            :max-height="300"
                            v-model="f.intro"
                          ></textarea-autosize>
                      </b-form-group>
                    </div>
                  </div>
                  <div class="d-flex flex-wrap">
                    <div class="col-12">
                      <b-form-group
                        id="input-group-1"
                        label="Description"
                        label-for="input-1"
                        >
                          <VueTrix v-model="f.description" placeholder="Enter a description" localStorage/>
                      </b-form-group>
                    </div>
                  </div>
                  <!-- <div class="d-flex flex-wrap">
                    <div class="col-12">
                      <b-form-group
                        id="input-group-1"
                        label="Category"
                        label-for="input-1"
                      >
                        <b-form-select
                          :options="categories.map(m => ({ value: m.category_id, text: m.category_name }))"
                          v-model="f.category"
                          data-vv-as="Category"
                          v-validate="'required'"
                          name="category"
                        ></b-form-select>
                      </b-form-group>
                    </div>
                  </div> -->

                  <div>
                    <v-autocomplete
                      v-model="fskills[i].select"
                      item-color="#333"
                      background-color="#FFF"
                      :loading="fskills[i].loading"
                      :items="fskills[i].skillItems"
                      :search-input.sync="fskills[i].searchSkills"
                      class="mx-3"
                      flat
                      hide-no-data
                      hide-details
                      label="Search Skills"
                      solo-inverted
                      :clearable="true"
                      :open-on-clear="true"
                      hide-selected
                      item-text="name"
                      item-value="symbol"
                      solo
                      @keyup="handleSearchSkills(i, $event)"
                      @keydown.enter.native.prevent="addSkills(i)"
                    ></v-autocomplete>
                    <div class="d-flex flex-wrap mt-3">
                      <div class="main-card mb-3 col-sm-6 col-12" v-for="s in f.freelancer_skills" :key="s.skill_id" v-if="!s.isRemoved">
                        <b-card :title="s.skill.skill_name">
                          <a href="javascript:void(0);" style="font-size: 30px;position: absolute;top: 6px;right: 10px;" @click="removeSkill(i, s.skill_id)"><i class="pe-7s-close"></i></a>
                          <rate :length="5" v-model="s.rating" />
                        </b-card>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3 justify-content-end px-4">
                  <!-- <b-button @click="addProfile" class="mx-1" variant="primary" type="button" size="lg">
                    <span><i class="pe-7s-plus"></i> Add Profile</span>
                  </b-button> -->
                    <b-button type="buttton" class="mx-1" :disabled="actions.freelancers_profile.isUpdating" variant="primary" @click="events('freelancer_profile', $event)" size="lg">
                    <span v-if="actions.freelancers_profile.isUpdating"><b-spinner small type="grow" /> Updating...</span>
                    <span v-else>Update</span>
                  </b-button>
                </div>
                <div style="height:25px" class="text-success row justify-content-lg-end mx-2 mt-1">
                  <span v-if="actions.freelancers_profile.isUpdated">Successfully Updated</span>
                </div>
                <div class="error--list">
                  <ul>
                    <li class="text-danger" v-for="e in errors.items" :key="e.id">
                      <span v-if="e.scope === 'step2'">{{ e.msg }}</span>
                    </li>
                  </ul>
                </div>
              </b-form>
            </b-tab>

            <b-tab title="Freelancer Company">
              <b-form ref="step3" @submit.prevent="events('freelancer_company')">
                <div class="d-flex flex-wrap">
                  <div class="col-12">
                    <b-form-group
                      id="input-group-1"
                      label="Title"
                      label-for="input-1"
                      >
                        <b-form-input
                          id="input-1"
                          type="text"
                          v-model="model.freelancer.freelancer_company.title"
                        ></b-form-input>
                    </b-form-group>
                  </div>
                </div>
                <div class="d-flex flex-wrap">
                  <!-- <div class="col-6">
                    <b-form-group
                      id="input-group-1"
                      label="Company Name"
                      label-for="input-1"
                      >
                        <b-form-input
                          id="input-1"
                          type="text"
                          v-model="model.freelancer.freelancer_company.company_name"
                        ></b-form-input>
                    </b-form-group>
                  </div> -->
                  <div class="col-6">
                    <b-form-group
                      id="input-group-1"
                      label="Address 1"
                      label-for="input-1"
                      >
                        <b-form-input
                          id="input-1"
                          type="text"
                          v-model="model.freelancer.freelancer_company.address_1"
                        ></b-form-input>
                    </b-form-group>
                  </div>
                  <div class="col-6">
                    <b-form-group
                      id="input-group-1"
                      label="Address 2"
                      label-for="input-1"
                      >
                        <b-form-input
                          id="input-1"
                          type="text"
                          v-model="model.freelancer.freelancer_company.address_2"
                        ></b-form-input>
                    </b-form-group>
                  </div>
                </div>
                <div class="d-flex flex-wrap">
                  <div class="col-6">
                    <b-form-group
                      id="input-group-1"
                      label="Zip"
                      label-for="input-1"
                      >
                        <b-form-input
                          id="input-1"
                          type="text"
                          v-model="model.freelancer.freelancer_company.zip"
                        ></b-form-input>
                    </b-form-group>
                  </div>
                  <div class="col-6">
                      <b-form-group
                        id="input-group-1"
                        label="Url"
                        label-for="input-1"
                        >
                          <b-form-input
                            id="input-1"
                            type="text"
                            v-model="model.freelancer.freelancer_company.url"
                          ></b-form-input>
                      </b-form-group>
                  </div>
                </div>
                <div class="d-flex flex-wrap">
                  <div class="col-6">
                    <b-form-group
                      id="input-group-1"
                      label="State"
                      label-for="input-1"
                      >
                        <b-form-input
                          id="input-1"
                          type="text"
                          v-model="model.freelancer.freelancer_company.state"
                        ></b-form-input>
                    </b-form-group>
                  </div>
                  <div class="col-6">
                    <b-form-group
                      id="input-group-1"
                      label="Country"
                      label-for="input-1"
                      >
                        <b-form-select 
                          :options="country.map(c => ({ value: c.code, text: c.name }))"
                          v-model="model.freelancer.freelancer_company.country"
                        ></b-form-select>
                    </b-form-group>
                  </div>
                </div>
                <div class="d-flex flex-wrap">
                  <!-- <div class="col-6">
                    <b-form-group
                      id="input-group-1"
                      label="Intro"
                      label-for="input-1"
                      >
                        <textarea-autosize
                          class="form-control"
                          :min-height="70"
                          :max-height="300"
                          v-model="model.freelancer.freelancer_company.intro"
                        ></textarea-autosize>
                    </b-form-group>
                  </div> -->
                </div>
                <!-- <div class="col-12">
                  <b-form-group
                    id="input-group-1"
                    label="Description"
                    label-for="input-1"
                    >
                      <textarea-autosize
                        class="form-control"
                        :min-height="70"
                        :max-height="300"
                        v-model="model.freelancer.freelancer_company.description"
                      ></textarea-autosize>
                  </b-form-group>
                </div> -->
                <div class="row mt-3 justify-content-end px-4">
                  <b-button :disabled="actions.freelancers_company.isUpdating" variant="primary" type="submit" size="lg">
                    <span v-if="actions.freelancers_company.isUpdating"><b-spinner small type="grow" /> Updating...</span>
                    <span v-else>Update</span>
                  </b-button>
                </div>
                <div style="height:25px" class="text-success row justify-content-lg-end mx-2 mt-1">
                  <span v-if="actions.freelancers_company.isUpdated">Successfully Updated</span>
                </div>
              </b-form>
            </b-tab>
          </b-tabs>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
// import Tabs from 'vue-tabs-with-active-line'
import Vue from 'vue'
import _ from 'lodash'
import { createNamespacedHelpers } from 'vuex'
import VeeValidate from "vee-validate"
import vue2Dropzone from 'vue2-dropzone'
import VueTrix from "vue-trix"
import uuid from '../../modules/security/uuid.js'
import VueTextareaAutosize from 'vue-textarea-autosize'
// import {ToggleButton} from 'vue-js-toggle-button'
import rate from 'vue-rate'
import web from '@modules/http/axios'
const { mapActions, mapState } = createNamespacedHelpers('skills')
import country from '../../data/country.js'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

Vue.use(VueTrix)
Vue.use(VeeValidate)
Vue.use(rate)
Vue.use(VueTextareaAutosize)
export default {
  methods: {
    ...mapActions([
      'findByName',
      'allCategories',
      'create'
    ]),
    getData () {
      return web.get(`get/freelancer/${this.$route.params.id}`)
    },
    events (form, e) {
      switch (form) {
        case 'freelancer':
          this.$validator.validateAll('step1').then(valid => {
            if (valid) {
              this.$store.dispatch('freelancers/_update_freelancer', this.model.freelancer)
            }
          })
          break
        case 'freelancer_company':
          this.$store.dispatch('freelancers/_update_freelancer_company', this.model.freelancer)
          break
        case 'freelancer_profile':
          e.preventDefault()
          this.errors.clear()
          if (this.model.freelancer.profiles.find(f => f.freelancer_type === '')) {
            this.errors.add({
              msg: 'Freelancer Type is required.',
              scope: 'step2'
            })
            return
          }
          this.$store.dispatch('freelancers/_update_freelancer_profile', {
            model: this.model.freelancer.profiles,
            id: this.$route.params.id
          })
            .then(d => {
              this.$set(this.model, 'freelancer', d.data)
              this.$set(this.model.freelancer, 'pwdEdit', false)
            })
          break
      }
    },
    mountPhoto () {
      setTimeout(() => {
        var file = { size: 123, name: "Icon", type: "image/jpeg" };
        var url = `/${this.model.freelancer.profile_photo}`
        this.$refs.myVueDropzone.manuallyAddFile(file, url)
      }, 2000)
    },
    addSkills (i) {
      const dup = this.model.freelancer.profiles[i].freelancer_skills.map(m => m.skill.skill_name)
      if (dup.includes(this.fskills[i].select)) {
        this.$bvToast.toast('You have already added that skill', {
          title: 'Whoops! Something went wrong.',
          variant: 'danger',
          solid: true
        })
        return
      }
      if (this.fskills[i].select !== '' && this.fskills[i].select !== null) {
        const search = this.skills.data.find(f => f.skill_name === this.fskills[i].select)
        this.model.freelancer.profiles[i].freelancer_skills = [ ...this.model.freelancer.profiles[i].freelancer_skills, { skill: {...search}, isNew: true, isAdded: true, rating: 0 }]
        this.fskills[i].searchSkills = null
        this.fskills[i].skillItems = []
      }
    },
    removeSkill (i, id) {
      const skillIndex = this.model.freelancer.profiles[i].freelancer_skills.findIndex(f => f.skill_id == id)
      this.$set(this.model.freelancer.profiles[i].freelancer_skills, [skillIndex], { ...this.model.freelancer.profiles[i].freelancer_skills[skillIndex], isRemoved: true })
    },
    removeProfile (i) {
      if (this.model.freelancer.profiles[i].id !== undefined) {
        this.model.freelancer.profiles = this.model.freelancer.profiles.filter(d => d.id !== this.model.freelancer.profiles[i].id)
        return
      }
      this.$set(this.model.freelancer.profiles, [i], { ...this.model.freelancer.profiles[i], isRemoved: true })
    },
    uploadSuccess (u, res) {
      this.model.freelancer.profile_photo = res.data
    },
    addProfile () {
      this.model.freelancer.profiles = [...this.model.freelancer.profiles, { ...freelancer_profile(), isNew: true, freelancer_id: this.$route.params.id }]
      this.fskills = [...this.fskills, {
        isNew: true,
        select: null,
        searchSkills: null,
        loading: false,
        skillItems: []
      }]
    },
    handleSearchSkills: _.debounce(function(i, e){
      if (e.keyCode === 40 || e.keyCode === 38) {
        return
      }
      if (this.fskills[i].searchSkills !== null) {
      this.findByName(this.fskills[i].searchSkills)
        .then(g => this.fskills[i].skillItems = g.data.map(m => m.skill_name ))
        return
      }
    }, 500)
  },
  data: () => ({
    freelancerType: [{
      value: 'persona',
      text: 'Persona'
    }, {
      value: 'person',
      text: 'Person'
    }],
    model: { ...model() },
    fskills: [{ ...fskills() }],
    country,
    dropzoneOptions: {
      url: '/web/v1/post/freelancer/photo',
      thumbnailWidth: 150,
      maxFilesize: 0.5,
      addRemoveLinks: true,
      headers: { "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content }
    }
  }),
  computed: {
    ...mapState([
      'categories',
      'skills'
    ]),
    actions () {
      return this.$store.getters['freelancers/actions']
    }
  },
  created () {
    Promise.all([
      this.allCategories(),
      this.getData()
    ])
      .then(d => {
        this.$set(this.model, 'freelancer', d[1].data)
        this.$set(this.model.freelancer, 'pwdEdit', false)
        if (this.model.freelancer.profiles.length) {
          this.model.freelancer.profiles.forEach(() => {
            this.fskills = [...this.fskills, fskills()]
          })
        }
      })
  },
  components: {
    vueDropzone: vue2Dropzone,
    VueTrix
  }
}
const model = () => ({
  freelancer: {
    first_name: '',
    last_name: '',
    email: '',
    password: '',
    cpassword: '',
    role: '',
    profile_photo: '',
    pwdEdit: false,
    freelancer_profile: [{ ...freelancer_profile() }],
    freelancer_company: {
      company_name: '',
      address_1: '',
      address_2: '',
      zip: '',
      state: '',
      country: '',
      title: '',
      intro: '',
      description: '',
      url: ''
    }
  }
})
const freelancer_profile = () => ({
  title: '',
  freelancer_type: '',
  intro: '',
  description: '',
  category: null,
  freelancer_skills: [],
  id: uuid()
})
const fskills = () => ({
  select: null,
  searchSkills: null,
  loading: false,
  skillItems: []
})
</script>
<style lang="scss" scoped>
  ::v-deep .v-input__slot {
    border: 1px solid #ced4da !important;
  }
  ::v-deep .v-input__slot input {
    color: #000!important;
  }
</style>