<template>
  <div>
    <layout-wrapper>
      <demo-card color="#333" :heading="heading">
        <v-toolbar
          color="#e1f3ffb0">
          <!-- <v-toolbar-title color="#333">Freelancer Name</v-toolbar-title> -->
          <v-autocomplete
            v-model="select"
            item-color="#333"
            :loading="loading"
            :items="items"
            :search-input.sync="search"
            cache-items
            class="mx-3"
            flat
            hide-no-data
            hide-details
            label="E.g: John Doe"
            solo-inverted
            chips
            clearable
            hide-selected
            item-text="name"
            item-value="symbol"
            solo
          ></v-autocomplete>
          <v-btn icon>
            <v-icon>more_vert</v-icon>
          </v-btn>
        </v-toolbar>
      </demo-card>
      <div class="my-3">
        <!-- <b-button @click="() => $router.push('/freelancers/add')" class="mr-2 mb-2 btn-pill btn-icon" variant="outline-info">
          <i class="btn-icon-wrapper pe-7s-plus"></i> Add Freelancer
        </b-button> -->
      </div>
      <VueElementLoading :active="vueComponentsLoading" spinner="ring" color="var(--info)" />
      <v-data-table
        v-if="freelancers !== undefined && freelancers.data !== undefined"
        :headers="headers"
        :items="freelancers.data.map(m => ({
            freelancer_id: m.freelancer_id, 
            first_name: m.first_name, 
            last_name: m.last_name, 
            email: m.email, 
            skill: m.skill, 
            profile: m.profile,
            freelancer_company_id: m.freelancer_company_id,
            profile_photo: m.profile_photo,
            role: m.role,
            freelancer_company: m.freelancer_company
          }))"
        :items-per-page="10"
        class="elevation-1"
        :hide-default-header="true"
        :hide-default-footer="true"
        hide-actions
        disable-pagination
        item-key="freelancer_id"
        v-model="selected"
        :disable-initial-sort="true"
      >
        <template v-slot:items="props">
          <!-- <td>
            <v-checkbox
              v-model="props.selected"
              primary
              hide-details
            ></v-checkbox>
          </td> -->
          <td class="text-xs-center">
            <div class="d-flex">
              <div v-if="profileCheck[props.index]" class="mb-2 mr-2 badge badge-dot badge-dot-lg badge-success"></div>
              <div v-else class="mb-2 mr-2 badge badge-dot badge-dot-lg badge-danger"></div>
              <div>{{ props.item.freelancer_id }}</div>
            </div>
          </td>
          <td class="text-xs-center">{{ props.item.first_name }}</td>
          <td class="text-xs-center">{{ props.item.last_name }}</td>
          <td class="text-xs-center">{{ props.item.email }}</td>
          <td class="justify-center layout py-4 px-0">
            <!-- <v-icon
              small
              class="mr-2"
              :id="props.item.freelancer_id"
              @click="editItem(props.item)">
              edit
            </v-icon> -->
            <v-icon
              small
              class="mr-2"
              :id="props.item.freelancer_id"
              @click="handleEditModal(props.item)"
            >
              edit
            </v-icon>
            <!-- <v-icon
              small
              @click="deleteItem(props.item)"
            >
              delete
            </v-icon> -->
            <!-- <Edit :data="props.item" /> -->
          </td>
        </template>
      </v-data-table>
      <div class="text-xs-center pt-2">
        <b-pagination-nav size="md" base-url="#" :number-of-pages="freelancers.last_page" v-model="currentPage" />
      </div>
      <EditModal
        :data="selectedProps"
      />
      <b-modal
        size="sm"
        header-bg-variant="danger"
        footer-bg-variant="light"
        body-bg-variant="light"
        header-text-variant="light"
        id="modal-todelete"
        title="Delete Skill"
      >
        <p class="my-4">Are you sure you want to delete <strong>{{ toDelete.skill_name }}</strong>?</p>
        <template v-slot:modal-footer>
          <b-button size="sm" variant="success" @click="$bvModal.hide('modal-todelete')">
            Cancel
          </b-button>
          <b-button size="sm" variant="danger" @click="confirmDelete">
            <span v-if="isDeleting"><b-spinner small type="grow" /> Deleting...</span>
            <span v-else>Delete</span>
          </b-button>
        </template>
      </b-modal>
    </layout-wrapper>
    <!-- <Add /> -->
  </div>
</template>

<script>
  import Vue from 'vue'
  import LayoutWrapper from '@layout/Components/LayoutWrapper';
  import DemoCard from '@layout/Components/DemoCard';
  import VueElementLoading from 'vue-element-loading'
  // import Edit from './modals/edit.vue'
  // import Add from './modals/add.vue'
  import { createNamespacedHelpers } from 'vuex'
  import EditModal from './edit-modal.vue'
  const { mapActions, mapState } = createNamespacedHelpers('freelancers')

  import { ModalPlugin } from 'bootstrap-vue'
  Vue.use(ModalPlugin)

  export default {
    components: {
      'layout-wrapper': LayoutWrapper,
      'demo-card': DemoCard,
      EditModal,
      VueElementLoading
      // Edit,
      // Add
    },
    data: () => ({
      heading: 'Search Freelancers',
      subheading: 'Freelancers',
      icon: 'pe-7s-plane icon-gradient bg-tempting-azure',
      loading: false,
      items: [],
      search: null,
      select: null,
      selected: [],
      headers: [
        { text: 'ID', value: 'freelancer_id', align: 'center', sortable: false },
        { text: 'First Name', value: 'first_name', align: 'center', sortable: false },
        { text: 'Last Name', value: 'last_name', align: 'center', sortable: false },
        { text: 'Email',value: 'email', align: 'center', sortable: false },
        { text: 'Actions', value: 'freelancer_id', sortable: false }
      ],
      currentPage: 1,
      toEdit: {},
      toDelete: {},
      isDeleting: false,
      selectedProps: {},
      vueComponentsLoading: false
    }),
    methods: {
      ...mapActions([
        'fetchData',
        'findByName',
        'destroy'
      ]),
      handleEditModal (item) {
        this.selectedProps = item
        this.$bvModal.show('edit-freelancer-modal')
      },
      editItem (item) {
        this.$bvModal.show(`bv-modal-${item.freelancer_id}`)
        this.toEdit = item
      },
      deleteItem (item) {
        this.toDelete = item
        this.$bvModal.show('modal-todelete')
      },
      confirmDelete () {
        this.isDeleting = true
        this.destroy(this.toDelete.freelancer_id)
          .then(() => {
            this.$bvModal.hide('modal-todelete')
            this.$bvToast.toast('You have successfuly deleted a freelancer.', {
              title:'Great!',
              variant: 'success',
              solid: true
            })
            this.isDeleting = false
          })
      },
      toAddFreelancer () {
        this.$bvModal.show('bv-modal-add-freelancer')
      }
    },
    computed: {
      ...mapState(['freelancers']),
      profileCheck () {
        return this.freelancers.data.map(c => {
          if (!c.profiles.length) {
            return false
          }
          if (c.profiles[0].title === '' || c.profiles[0].title.length <= 7) {
            return false
          }
          if (c.profiles[0].intro === '' || c.profiles[0].intro.length <= 10) {
            return false
          }
          if (c.profiles[0].description === ''|| c.profiles[0].description.length <= 20) {
            return false
          }
          return true
        })
      }
    },
    watch: {
      search: {
        handler (v) {
          if (v !== null) {
            this.vueComponentsLoading = true
            this.findByName(v)
              .then(s => {
                this.vueComponentsLoading = false
                this.items = s.data.map(n => [n.first_name,n.last_name].join(' '))
              })
          }
        }
      },
      currentPage (v) {
        if (v) {
          this.vueComponentsLoading = true
          const search = this.search !== null ? this.search+'?page='+v : '?page='+v
          this.findByName(`${search}`)
            .then(s => {
              this.vueComponentsLoading = false
              this.items = s.data.map(n => n.first_name)
            })
        }
      }
    },
    mounted() {
      Promise.all([this.fetchData()])
    }
  }
</script>
