<template>
  <layout-wrapper>
    <demo-card heading="Profile" subheading="Update your information">
      <form @submit.prevent="update">
        <div class="d-flex flex-wrap">
          <div class="col-md-8 col-12">
            <div class="form-group">
              <v-text-field
                v-model="model.name"
                :rules="rules.nameRules"
                label="Name"
                required
              ></v-text-field>
            </div>
            <div class="form-group">
              <v-text-field
                v-model="model.email"
                :rules="rules.emailRules"
                label="Email"
                required
              ></v-text-field>
            </div>
            <div class="form-group">
              <b-button class="mt-2" variant="success" type="submit">
                <span v-if="isSaving"><b-spinner small type="grow" /> Updating...</span>
                <span v-else>Update</span>
              </b-button>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="form-group">
              <vue-dropzone 
                ref="myVueDropzone" 
                id="dropzone" 
                :options="dropzoneOptions"
                @vdropzone-success="uploadSuccess"
                @vdropzone-mounted="mounted"
                :multiple="false"
                :upload-multiple="false"
              ></vue-dropzone>
            </div>
          </div>
        </div>
      </form>
    </demo-card>
  </layout-wrapper>
</template>
<script>
import LayoutWrapper from '../LayoutWrapper';
import DemoCard from '../DemoCard';
import vue2Dropzone from 'vue2-dropzone'

import { createNamespacedHelpers } from 'vuex'
const { mapActions, mapState } = createNamespacedHelpers('auth')

import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
  data: () => ({
    model: { ...model() },
    rules: {
      nameRules: [
        v => !!v || 'Name is required',
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ]
    },
    isSaving: false,
    dropzoneOptions: {
      url: '/web/v1/admin/post/profile-photo',
      thumbnailWidth: 150,
      addRemoveLinks: true,
      maxFilesize: 0.5,
      headers: { "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content }
    }
  }),
  methods: {
    ...mapActions([
      'updateProfile'
    ]),
    update () {
      this.isSaving = true
      this.updateProfile(this.model)
        .then(() => {
          this.$bvToast.toast(`Updated Successful`, {
            title: 'Great!',
            variant: 'success',
            solid: true
          })
          this.isSaving = false
        })
    },
    uploadSuccess (u, res) {
      this.model.profile_photo = res.data
    },
    mounted () {
      if (this.user.profile_photo !== null && this.user.profile_photo !== undefined && this.user.profile_photo) {
        var file = { size: 123, name: "Icon", type: "image/png" }
        var url = `/${this.user.profile_photo}`
        this.$refs.myVueDropzone.manuallyAddFile(file, url)
      }
    }
  },
  computed: {
    ...mapState([
      'user'
    ])
  },
  mounted() {
    this.$watch(() => this.user, (u) => {
      this.model = { ...u }
    }, { immediate: true })
  },
  components: {
    LayoutWrapper,
    DemoCard,
    vueDropzone: vue2Dropzone
  }
}
const model = () => ({
  name: null,
  email: null
})
</script>