<template>
  <layout-wrapper>
    <demo-card heading="Security" subheading="Change password">
      <form @submit.prevent="update">   
        <div class="form-group">
          <v-text-field
                mx-3
                v-model="model.password"
                label="Password"
                :append-icon="show1 ? 'visibility' : 'visibility_off'"
                :rules="[passwordRules.password.required, passwordRules.password.min]"
                :type="show1 ? 'text' : 'password'"
                name="input-10-1"
                hint="At least 6 characters"
                counter
                @click:append="show1 = !show1"
              ></v-text-field>
        </div>
        <div class="form-group">
          <v-text-field
                v-model="model.rpassword"
                label="Repeat Password"
                :append-icon="show2 ? 'visibility' : 'visibility_off'"
                :rules="[passwordRules.password.required, passwordRules.password.min, passwordRules.password.passwordMatch]"
                :type="show2 ? 'text' : 'password'"
                name="input-10-2"
                hint="At least 6 characters"
                counter
                class="input-group--focused"
                @click:append="show2 = !show2"
              ></v-text-field>
        </div>
        <div class="form-group">
          <b-button class="mt-2" variant="success" type="submit">
            <span v-if="isSaving"><b-spinner small type="grow" /> Updating...</span>
            <span v-else>Update</span>
          </b-button>
        </div>
      </form>
    </demo-card>
  </layout-wrapper>
</template>
<script>
import LayoutWrapper from '../LayoutWrapper';
import DemoCard from '../DemoCard';

import { createNamespacedHelpers } from 'vuex'
const { mapActions, mapState } = createNamespacedHelpers('auth')

export default {
  data: () => ({
    model: { ...model() },
    isSaving: false,
    show1: false,
    show2: false,
  }),
  methods: {
    ...mapActions([
      'updatePassword'
    ]),
    update () {
      this.isSaving = true
      this.updatePassword(this.model)
        .then(() => {
          this.isSaving = false
          this.$bvToast.toast(`Updated Successful`, {
            title: 'Great!',
            variant: 'success',
            solid: true
          })
          this.model = { ...model() }
        })
    }
  },
  computed: {
    ...mapState([
      'user'
    ]),
    passwordRules () {
      return {
        password: {
          required: value => !!value || 'Required.',
          min: v => v !== undefined && v !== null && v.length >= 6 || 'Min 6 characters',
          passwordMatch: (v) => v !== this.model.password && 'Repeat Password don\'t match to Password'
        }
      }
    }
  },
  components: {
    LayoutWrapper,
    DemoCard
  }
}
const model = () => ({
  password: null,
  rpassword: null
})
</script>