<template>
  <b-modal 
    :id="`bv-modal-skills`"
    size="lg" 
    title="Skills"
    hide-footer
    header-bg-variant="light"
  >
    <template v-slot:modal-title>
      Edit Skills
    </template>
    <div class="d-block text-center" v-if="selected !== null">
      <b-form-input v-model="model.skill_name" placeholder="Enter Skill"></b-form-input>
      <br />
      <b-form-select v-model="model.category.category_id" :options="categories.map(m => ({ text: m.category_name, value: m.category_id }))"></b-form-select>
    </div>
    <b-button @click="update" :disabled="isLoading" class="mt-5" variant="primary">
      <span v-if="isLoading"><b-spinner small type="grow" /> Updating...</span>
      <span v-else>Update</span>
    </b-button>
    <b-button class="mt-5" @click="$bvModal.hide(`bv-modal-skills`)">Close</b-button>
  </b-modal>
</template>
<script>
import { createNamespacedHelpers } from 'vuex'
const { mapActions, mapState } = createNamespacedHelpers('skills')
export default {
  data: () => ({
    model: {
      category: {}
    },
    isLoading: false
  }),
  watch: {
    'selected': {
      handler (v) {
        if (v) {
          this.model.skill_name = v.skill_name
          this.model.skill_id = v.skill_id
        }
      },
      immediate: true,
      deep: true
    },
    'selected.category': {
      handler (v) {
        if (v) {
          this.model.category = v
        }
      },
      immediate: true,
      deep: true
    }
  },
  methods: {
    ...mapActions([
      'edit',
      'allCategories'
    ]),
    update () {
      this.isLoading = true
      this.edit(this.model)
        .then(() => {
          this.$bvModal.hide('bv-modal-skills')
          this.$bvToast.toast('Update Successful.', {
            title: 'Great!',
            variant: 'success',
            solid: true
          })
          this.isLoading = false
        })
    }
  },
  computed: {
    ...mapState(['categories'])
  },
  created() {
    Promise.all([this.allCategories()])
  },
  props: {
    data: {
      required: true
    },
    selected: {
      required: true
    }
  }
}
</script>