<template>
  <b-modal 
    id="bv-modal-add-freelancer" 
    size="lg" 
    title="Add Freelancer" 
    hide-footer
    header-bg-variant="light"
  >
    <div class="d-block text-center">
      <form>
        <v-layout row wrap>
          <v-flex xs12 sm6 px-3>
            <!-- <div class="form-group">
              <v-combobox
                v-model="model.freelancer_company"
                :items="$store.getters['freelancers/company'].map(m => ({ freelancer_company_id: m.freelancer_company_id, company_name: m.company_name }))"
                :search-input.sync="searchCompany"
                hide-selected
                item-text="company_name"
                item-value="freelancer_company_id"
                label="Select Company"
                :loading="loading"
                data-vv-as="Company"  
                name="company"
                v-validate="'required'"
                :error-messages="errors.first('company')"
              >
                <template v-slot:no-data>
                  <v-list-tile>
                    <v-list-tile-content>
                      <v-list-tile-title>
                      </v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-combobox>
            </div> -->
            <div class="form-group">
              <v-combobox
                v-model="model.freelancer_company.country"
                :items="countries"
                item-text="name"
                item-value="code"
                hide-selected
                label="Select Country"
                :loading="loading"
                data-vv-as="Country"  
                name="country"
                v-validate="'required'"
                :error-messages="errors.first('country')"
              >
                <template v-slot:no-data>
                  <v-list-tile>
                    <v-list-tile-content>
                      <v-list-tile-title>
                      </v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-combobox>
            </div>
            <div class="form-group">
              <v-select
                v-model="model.role"
                :items="['freelancer', 'owner', 'admin']"
                label="Role"
                data-vv-as="Role"
                name="role"
                v-validate="'required'"
                :error-messages="errors.first('role')"
              ></v-select>
            </div>
          </v-flex>
          <v-flex xs12 sm5>
            <b-card title="Upload Photo" class="main-card mb-3">
              <vue-dropzone 
                ref="myVueDropzone" 
                id="dropzone" 
                :options="dropzoneOptions"
                @vdropzone-success="uploadSuccess"
              ></vue-dropzone>
            </b-card>
          </v-flex>
        </v-layout>
        <div class="form-group">
          <v-text-field
            name="first_name"
            data-vv-as="First Name"
            v-model="model.first_name"
            :rules="rules.nameRules"
            v-validate="'required'"
            :error-messages="errors.first('first_name')"
            label="First Name"
            required
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-text-field
            v-model="model.last_name"
            :rules="rules.nameRules"
            label="Last Name"
            required
            data-vv-as="Last Name"
            name="last_name"
            v-validate="'required'"
            :error-messages="errors.first('last_name')"
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-text-field
            v-model="model.email"
            label="Email"
            required
            data-vv-as="Email"
            name="email"
            v-validate="'required|email'"
            :error-messages="errors.first('email')"
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-layout row wrap px-3>
            <v-flex xs12 sm6 pr-1>
              <v-text-field
                mx-3
                v-model="model.password"
                label="Password"
                :append-icon="show1 ? 'visibility' : 'visibility_off'"
                :rules="[passwordRules.password.required, passwordRules.password.min]"
                :type="show1 ? 'text' : 'password'"
                hint="At least 6 characters"
                counter
                @click:append="show1 = !show1"
                data-vv-as="Password"
                name="password"
                v-validate="'required'"
                :error-messages="errors.first('password')"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 pl-1>
              <v-text-field
                v-model="model.rpassword"
                label="Repeat Password"
                :append-icon="show2 ? 'visibility' : 'visibility_off'"
                :rules="[passwordRules.password.required, passwordRules.password.min, passwordRules.password.passwordMatch]"
                :type="show2 ? 'text' : 'password'"
                hint="At least 6 characters"
                counter
                class="input-group--focused"
                @click:append="show2 = !show2"
                data-vv-as="Password"
                name="cpassword"
                v-validate="'required'"
                :error-messages="errors.first('cpassword')"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </div>
        <hr />
        <div class="form-group">
          <v-text-field
            v-model="model.freelancer_company.company_name"
            label="Company Name"
            required
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-text-field
            v-model="model.freelancer_company.address_1"
            label="Address 1"
            required
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-text-field
            v-model="model.freelancer_company.address_2"
            label="Address 2"
            required
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-text-field
            v-model="model.freelancer_company.zip"
            label="Zip"
            required
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-text-field
            v-model="model.freelancer_company.state"
            label="State"
            required
          ></v-text-field>
        </div>
         <div class="form-group">
          <v-select
            v-model="model.profile.freelancer_type"
            :items="['persona', 'person']"
            label="Freelance Type"
            data-vv-as="Freelancer Type"
            name="freelancer_type"
            v-validate="'required'"
            :error-messages="errors.first('freelancer_type')"
          ></v-select>
        </div>
         <div class="form-group">
          <v-text-field
            v-model="model.profile.title"
            label="Title"
            required
          ></v-text-field>
        </div>
         <div class="form-group">
          <v-textarea
            v-model="model.profile.intro"
            solo
            name="input-7-4"
            label="Intro"
            required
          ></v-textarea>
        </div>
         <div class="form-group">
          <v-textarea
            v-model="model.profile.description"
            solo
            name="input-7-4"
            label="Description"
          ></v-textarea>
        </div>
        <div class="form-group">
          <v-select
            v-model="model.profile.category"
            :items="categories"
            label="Category"
            item-text="category_name"
            item-value="category_id"
            persistent-hint
            return-object
            single-line
            data-vv-as="Category"
            name="category"
            v-validate="'required'"
            :error-messages="errors.first('category')"
          ></v-select>
        </div>
        <div>
          <v-card>
            <v-container
              fluid
              grid-list-xl
            >
              <v-layout
                align-center
                wrap
              >
                <v-flex xs12 sm12>
                  <v-autocomplete
                    v-model="select"
                    item-color="#333"
                    :loading="loading"
                    :items="items"
                    :search-input.sync="searchSkills"
                    class="mx-3"
                    flat
                    hide-no-data
                    hide-details
                    label="Add Skills E.g: Information Technology"
                    solo-inverted
                    chips
                    clearable
                    hide-selected
                    item-text="name"
                    item-value="symbol"
                    solo
                    @keyup.enter="addSkills"
                  ></v-autocomplete>
                  <!-- <v-chip
                    v-model="s.isAdded"
                    class="mx-1 my-1 mt-3" 
                    v-for="s in model.skill" 
                    :key="s.skill_id"
                    close
                  >{{ s.skill_name }}</v-chip> -->
                  <div class="d-flex flex-wrap">
                    <b-card v-for="s in model.skill" :key="s.skill_id" class="main-card mb-4 col-sm-6 col-12" v-if="s.isAdded" :title="s.skill_name">
                      <a href="javascript:void(0);" style="font-size: 30px;position: absolute;top: 6px;right: 10px;" @click="removeSkill(s.skill_id)"><i class="pe-7s-close"></i></a>
                      <rate :length="5" v-model="s.pivot.rating" :ratedesc="['Very bad', 'bad', 'Normal', 'Good', 'Very good']" />
                    </b-card>
                  </div>
                  <!-- <b-badge class="mx-1 my-1" v-for="s in data.skill" :key="s.skill_id" pill size="md" variant="secondary">{{ s.skill_name }}</b-badge> -->
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </div>
      </form>
    </div>
    <b-button class="mt-2" variant="primary" @click="() => $bvModal.hide('bv-modal-add-freelancer')">Cancel</b-button>
    <b-button class="mt-2" variant="success" @click="save">
      <span v-if="isSaving"><b-spinner small type="grow" /> Saving...</span>
      <span v-else>Save</span>
    </b-button>
  </b-modal>

</template>
<script>
import Vue from 'vue'
import _ from 'lodash'
import { createNamespacedHelpers } from 'vuex'
import vue2Dropzone from 'vue2-dropzone'
import rate from 'vue-rate'
import VeeValidate from "vee-validate"
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
const { mapActions, mapState } = createNamespacedHelpers('skills')
import country from '../../../data/country.js'

Vue.use(rate)
Vue.use(VeeValidate)

export default {
  methods: {
    ...mapActions([
      'findByName',
      'allCategories'
    ]),
    removeSkill (id) {
      const skillIndex = this.model.skill.findIndex(f => f.skill_id == id)
      this.$set(this.model.skill, [skillIndex], { ...this.model.skill[skillIndex], isAdded: false })
    },
    addSkills () {
      const dup = this.model.skill.map(m => m.skill_name)
      if (dup.includes(this.select)) {
        this.$bvToast.toast('You have already added that skill', {
          title: 'Whoops! Something went wrong.',
          variant: 'danger',
          solid: true
        })
        return
      }
      console.log('this.select', this.select)
      if (this.select !== '' && this.select !== null) {
        const search = this.skills.data.find(f => f.skill_name === this.select)
        this.model.skill = [ ...this.model.skill, { ...search, isNew: true, isAdded: true, pivot: { rating: null } }]
        this.select = ''
      }
    },
    uploadSuccess (u, res) {
      this.model.profile_photo = res.data
    },
    addCompany () {
      const cmpid = this.company.find(m => m.freelancer_company_id === this.model.freelancer_company_id)
      this.freelancerCompany = cmpid.company_name
    },
    save () {
      this.$validator.validate().then(valid => {
        if (valid) {
          this.isSaving = true
          this.$store.dispatch('freelancers/create', this.model)
            .then(() =>{
              this.$bvToast.toast(`Saved Successful`, {
                title: 'Great!',
                variant: 'success',
                solid: true
              })
              this.$bvModal.hide('bv-modal-add-freelancer')
              this.isSaving = false
              this.model = { ...model() }
              this.$validator.reset()
            })
        }
      })
    }
  },
  data: () => ({
    model: { ...model() },
    rules: {
      freelancerTypeRules: [
        v => !!v || 'Name is required'
      ],
      nameRules: [
        v => !!v || 'Name is required'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ]
    },
    countries: country,
    select: null,
    searchSkills: null,
    loading: false,
    items: [],
    isSaving: false,
    show1: false,
    show2: false,
    dropzoneOptions: {
      url: '/web/v1/post/freelancer/photo',
      thumbnailWidth: 150,
      maxFilesize: 0.5,
      addRemoveLinks: true,
      headers: { "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content }
    },
    freelancerCompany: null,
    searchCompany: null
  }),
  watch: {
    searchCompany: _.debounce(function(v){
      if (v) {
        this.$store.dispatch('freelancers/findFreelanceCompany', v)
      }
    }, 500),
    selectCompany: _.debounce(function(v){
      if (v) {
        this.$store.dispatch('freelancers/findFreelanceCompany', v)
      }
    }, 500),
    select: _.debounce(function(v){
      if (v) {
        this.findByName(v)
          .then(g => this.items = g.data.map(m => m.skill_name ))
      }
    }, 500),
    searchSkills: _.debounce(function(v){
      if (v) {
        this.findByName(v)
          .then(g => this.items = g.data.map(m => m.skill_name ))
          return
      }
    })
  },
  computed: {
    ...mapState([
      'skills',
      'categories'
    ]),
    company () {
      return this.$store.getters['freelancers/company']
    },
    passwordRules () {
      return {
        password: {
          required: value => !!value || 'Required.',
          min: v => v !== null && v.length >= 6 || 'Min 6 characters',
          passwordMatch: (v) => v !== this.model.password && 'Repeat Password don\'t match to Password'
        }
      }
    }
  },
  components: {
    vueDropzone: vue2Dropzone
  }
}
const model = () => ({
  first_name: null,
  last_name: null,
  freelancer_company_id: '',
  freelancer_company: {
    country: '',
    company_name: '',
    address_1: '',
    address_2: '',
    zip: '',
    state: ''
  },
  email: null,
  pwdEdit: false,
  password: null,
  rpassword: null,
  role: null,
  skill: [],
  profile_photo: '',
  profile: {
    freelancer_type:'',
    title: '',
    intro: '',
    description: '',
    category: ''
  }
})
</script>
