<template>
  <b-modal 
    :id="`bv-modal-${data.freelancer_id}`" 
    size="lg" 
    title="Edit Freelancer" 
    hide-footer
    header-bg-variant="light"
  >
    <div class="d-block text-center">
      <form>
        <v-layout row wrap>
          <v-flex xs12 sm6 px-3>
            <!-- <div class="form-group">
              <v-combobox
                v-model="model.freelancer_company"
                :items="$store.getters['freelancers/company'].map(m => ({ freelancer_company_id: m.freelancer_company_id, company_name: m.company_name }))"
                :search-input.sync="searchCompany"
                hide-selected
                item-text="company_name"
                item-value="freelancer_company_id"
                label="Select Company"
                :loading="loading"
              >
                <template v-slot:no-data>
                  <v-list-tile>
                    <v-list-tile-content>
                      <v-list-tile-title>
                      </v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-combobox>
            </div> -->
            <div class="form-group">
              <v-combobox
                v-model="model.freelancer_company.country"
                :items="countries"
                item-text="name"
                item-value="code"
                hide-selected
                label="Select Country"
                :loading="loading"
                data-vv-as="Country"  
                name="country"
                v-validate="'required'"
                :error-messages="errors.first('country')"
              >
                <template v-slot:no-data>
                  <v-list-tile>
                    <v-list-tile-content>
                      <v-list-tile-title>
                      </v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-combobox>
            </div>
            <div class="form-group">
              <v-select
                v-model="model.role"
                :items="['freelancer', 'owner', 'admin']"
                label="Role"
              ></v-select>
            </div>
          </v-flex>
          <v-flex xs12 sm5>
            <b-card title="Upload Photo" class="main-card mb-3">
              <vue-dropzone 
                ref="myVueDropzone" 
                id="customdropzone" 
                :options="dropzoneOptions"
                @vdropzone-mounted="mounted"
                @vdropzone-success="uploadSuccess"
              ></vue-dropzone>
            </b-card>
          </v-flex>
        </v-layout>
        <div class="form-group">
          <v-text-field
            v-model="model.first_name"
            :rules="rules.nameRules"
            label="First Name"
            required
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-text-field
            v-model="model.last_name"
            :rules="rules.nameRules"
            label="Last Name"
            required
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-text-field
            v-model="model.email"
            :rules="rules.emailRules"
            label="Email"
            required
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-switch
            v-model="model.pwdEdit"
            label="Edit Password"
            color="red"
            hide-details
          ></v-switch>
        </div>
        <transition 
          name="slide-fade"
        >
          <div class="form-group" v-if="model.pwdEdit">
            <v-layout row wrap px-3>
              <v-flex xs12 sm6 pr-1>
                <v-text-field
                  mx-3
                  v-model="model.password"
                  label="Password"
                  :append-icon="show1 ? 'visibility' : 'visibility_off'"
                  :rules="[passwordRules.password.required, passwordRules.password.min]"
                  :type="show1 ? 'text' : 'password'"
                  name="input-10-1"
                  hint="At least 6 characters"
                  counter
                  @click:append="show1 = !show1"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 pl-1>
                <v-text-field
                  v-model="model.rpassword"
                  label="Repeat Password"
                  :append-icon="show2 ? 'visibility' : 'visibility_off'"
                  :rules="[passwordRules.password.required, passwordRules.password.min, passwordRules.password.passwordMatch]"
                  :type="show2 ? 'text' : 'password'"
                  name="input-10-2"
                  hint="At least 6 characters"
                  counter
                  class="input-group--focused"
                  @click:append="show2 = !show2"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </div>
        </transition>
        <hr />
        <div class="form-group">
          <v-text-field
            v-model="model.freelancer_company.company_name"
            label="Company Name"
            required
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-text-field
            v-model="model.freelancer_company.address_1"
            label="Address 1"
            required
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-text-field
            v-model="model.freelancer_company.address_2"
            label="Address 2"
            required
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-text-field
            v-model="model.freelancer_company.zip"
            label="Zip"
            required
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-text-field
            v-model="model.freelancer_company.state"
            label="State"
            required
          ></v-text-field>
        </div>
         <div class="form-group">
          <v-select
            v-model="model.profile.freelancer_type"
            :items="['persona', 'person']"
            label="Freelance Type"
          ></v-select>
        </div>
         <div class="form-group">
          <v-text-field
            v-model="model.profile.title"
            label="Title"
            required
          ></v-text-field>
        </div>
         <div class="form-group">
          <v-text-field
            v-model="model.profile.intro"
            label="Intro"
            required
          ></v-text-field>
        </div>
         <div class="form-group">
          <v-text-field
            v-model="model.profile.description"
            label="Description"
            required
          ></v-text-field>
        </div>
        <div class="form-group">
          <v-select
            v-model="model.profile.category"
            :items="categories"
            label="Category"
            item-text="category_name"
            item-value="category_id"
            persistent-hint
            return-object
            single-line
          ></v-select>
        </div>
        <div>
          <v-card>
            <v-container
              fluid
              grid-list-xl
            >
              <v-layout
                align-center
                wrap
              >
                <v-flex xs12 sm12>
                  <v-autocomplete
                    v-model="select"
                    item-color="#333"
                    :loading="loading"
                    :items="items"
                    :search-input.sync="searchSkills"
                    cache-items
                    class="mx-3"
                    flat
                    hide-no-data
                    hide-details
                    label="Add Skills E.g: Information Technology"
                    solo-inverted
                    chips
                    clearable
                    hide-selected
                    item-text="name"
                    item-value="symbol"
                    solo
                    @keyup.enter="addSkills"
                  ></v-autocomplete>
                  <!-- <v-chip
                    v-model="s.isAdded"
                    class="mx-1 my-1 mt-3" 
                    v-for="s in model.skill" 
                    :key="s.skill_id"
                    close
                  >{{ s.skill_name }}</v-chip> -->
                  <div class="d-flex flex-wrap">
                    <b-card v-for="s in model.skill" :key="s.skill_id" class="main-card mb-4 col-sm-6 col-12" v-if="s.isAdded" :title="s.skill_name">
                      <a href="javascript:void(0);" style="font-size: 30px;position: absolute;top: 6px;right: 10px;" @click="removeSkill(s.skill_id)"><i class="pe-7s-close"></i></a>
                      <rate :length="5" v-model="s.pivot.rating" :ratedesc="['Very bad', 'bad', 'Normal', 'Good', 'Very good']" />
                    </b-card>
                  </div>
                  <!-- <b-badge class="mx-1 my-1" v-for="s in data.skill" :key="s.skill_id" pill size="md" variant="secondary">{{ s.skill_name }}</b-badge> -->
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </div>
        <!-- <p v-else>No Skills added.</p> -->
      </form>
    </div>
    <!-- <b-button class="mt-5" @click="$bvModal.hide(`bv-modal-${data.freelancer_id}`)">Close Me</b-button> -->
    <b-button class="mt-2" variant="primary" @click="() => $bvModal.hide(`bv-modal-${data.freelancer_id}`)">Cancel</b-button>
    <b-button class="mt-2" variant="success" @click="save">
      <span v-if="isSaving"><b-spinner small type="grow" /> Saving...</span>
      <span v-else>Save</span>
    </b-button>
  </b-modal>
</template>
<script>
import Vue from 'vue'
import _ from 'lodash'
import vue2Dropzone from 'vue2-dropzone'
import { createNamespacedHelpers } from 'vuex'
const { mapActions, mapState } = createNamespacedHelpers('skills')
import rate from 'vue-rate'
import country from '../../../data/country.js'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

Vue.use(rate)

export default {
  methods: {
    ...mapActions([
      'findByName',
      'allCategories'
    ]),
    // addCompany () {
    //   const cmpid = this.company.find(m => m.freelancer_company_id === this.model.freelancer_company_id)
    //   this.companyLabel.company_name = cmpid.company_name
    // },
    removeSkill (id) {
      const skillIndex = this.model.skill.findIndex(f => f.skill_id == id)
      this.$set(this.model.skill, [skillIndex], { ...this.model.skill[skillIndex], isAdded: false })
    },
    addSkills () {
      const dup = this.model.skill.map(m => m.skill_name)
      if (dup.includes(this.select)) {
        this.$bvToast.toast('You have already added that skill', {
          title: 'Whoops! Something went wrong.',
          variant: 'danger',
          solid: true
        })
        return
      }
      if (this.select !== '' && this.select !== null) {
        const search = this.skills.data.find(f => f.skill_name === this.select)
        this.model.skill = [ ...this.model.skill, { ...search, isNew: true, isAdded: true, pivot: { rating: null } }]
        this.select = ''
      }
    },
    save () {
      this.isSaving = true
      this.$store.dispatch('freelancers/patchFreelancer', this.model)
        .then(() => {
          this.isSaving = false
          this.$bvToast.toast(`Saved Successful`, {
            title: 'Great!',
            variant: 'success',
            solid: true
          })
          this.$bvModal.hide(`bv-modal-${this.data.freelancer_id}`)
        })
    },
    uploadSuccess (u, res) {
      this.model.profile_photo = res.data
    },
    mounted () {
      var file = { size: 123, name: "Icon", type: "image/jpeg" };
      var url = `/${this.model.profile_photo}`
      this.$refs.myVueDropzone.manuallyAddFile(file, url);
    }
  },
  computed: {
    ...mapState([
      'skills',
      'categories'
    ]),
    company () {
      return this.$store.getters['freelancers/company']
    },
    passwordRules () {
      return {
        password: {
          required: value => !!value || 'Required.',
          min: v => v !== null && v.length >= 6 || 'Min 6 characters',
          passwordMatch: (v) => v !== this.model.password && 'Repeat Password don\'t match to Password'
        }
      }
    }
  },
  watch: {
    // 'model.freelancer_company.country': {
    //   handler (v) {
    //     this.model.freelancer_company.country = this.countries.filter(c => c.code === v)
    //   },
    //   immediate: true
    // },
    searchCompany: _.debounce(function(v){
      if (v) {
        this.loading = true
        this.$store.dispatch('freelancers/findFreelanceCompany', v)
          .then(() => this.loading = false)
      }
    }, 500),
    selectCompany: _.debounce(function(v){
      if (v) {
        this.$store.dispatch('freelancers/findFreelanceCompany', v)
      }
    }, 500),
    select: _.debounce(function(v){
      if (v) {
        this.findByName(v)
          .then(g => this.items = g.data.map(m => m.skill_name ))
      }
    }, 500),
    searchSkills: _.debounce(function(v){
      if (v) {
        this.findByName(v)
          .then(g => this.items = g.data.map(m => m.skill_name ))
          return
      }
    })
  },
  data: () => ({
    model: { ...model() },
    select: null,
    countries: country,
    rules: {
      nameRules: [
        v => !!v || 'Name is required',
        v => v !== null && v.length <= 10 || 'Name must be less than 10 characters'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ]
    },
    searchSkills: null,
    loading: false,
    items: [],
    isSaving: false,
    show1: false,
    show2: false,
    dropzoneOptions: {
      url: '/web/v1/post/freelancer/photo',
      thumbnailWidth: 150,
      maxFilesize: 0.5,
      addRemoveLinks: true,
      headers: { "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content }
    },
    freelancerCompany: null,
    searchCompany: null,
    companyLabel: null
  }),
  created () {
    this.$watch(() => this.data, (v) => {
      this.model = { ...model(), ...{ ...v, freelancer_company: v.freelancer_company === undefined ? '' : v.freelancer_company, profile: v.profile !== null 
        ? v.profile 
        : { ...model().profile } } }
      this.model.skill = this.model.skill.map(m => ({ ...m, isAdded: true }))
      this.companyLabel = v.freelancer_company
    }, { immediate: true, deep: true })

    Promise.all([this.allCategories()])
  },
  mounted() {
    this.model.freelancer_company.country = this.countries.filter(c => c.code === this.model.freelancer_company.country)[0]
  },
  props: {
    data: {
      required: true,
      type: [Object, Array]
    }
  },
  components: {
    vueDropzone: vue2Dropzone
  }
}
const model = () => ({
  first_name: null,
  last_name: null,
  freelancer_company_id: '',
  freelancer_company: {
    country: '',
    company_name: '',
    address_1: '',
    address_2: '',
    zip: '',
    state: ''
  },
  email: null,
  pwdEdit: false,
  password: null,
  rpassword: null,
  skill: [],
  profile_photo: '',
  profile: {
    freelancer_type: ['persona', 'person'],
    title: '',
    intro: '',
    description: '',
    category: ''
  }
})
</script>
