<template>
  <div :class="sidebarbg"
       class="app-sidebar sidebar-shadow bg-focus text-lighter"
       @mouseover="toggleSidebarHover('add','closed-sidebar-open')"
       @mouseleave="toggleSidebarHover('remove','closed-sidebar-open')">
    <div class="app-header__logo">
      <div class="logo-src"/>
      <div class="header__pane ml-auto">
        <button type="button"
                class="hamburger close-sidebar-btn hamburger--elastic"
                v-bind:class="{ 'is-active' : isOpen }"
                @click="toggleBodyClass('closed-sidebar')">
                    <span class="hamburger-box">
                        <span
                          class="hamburger-inner"></span>
                    </span>
        </button>
      </div>
    </div>
    <div class="app-sidebar-content">
      <VuePerfectScrollbar class="app-sidebar-scroll"
                           v-once>
        <sidebar-menu showOneChild :menu="menu"/>
      </VuePerfectScrollbar>
    </div>

  </div>
</template>

<script>
    import {SidebarMenu} from 'vue-sidebar-menu'
    import VuePerfectScrollbar from 'vue-perfect-scrollbar'
    import {createNamespacedHelpers} from 'vuex'

    const {mapActions, mapState} = createNamespacedHelpers('jobs')

    export default {
        components : {
            SidebarMenu,
            VuePerfectScrollbar
        },

        computed : {
            ...mapState([
                'jobs',
                'unverifiedJobCount'
            ]),
        },

        data() {
            return {
                isOpen : false,
                sidebarActive : false,
                jobsCount : null,
                menu : [
                    {
                        header : true,
                        title : 'Main Navigation'
                    },
                    {
                        title : 'Dashboards',
                        icon : 'pe-7s-rocket',
                        href : '/dashboard'
                    },
                    {
                        header : true,
                        title : 'Freelancers',
                    },
                    {
                        icon : 'pe-7s-user',
                        title : 'View Freelancers',
                        href : '/freelancers/stats'
                    },
                    {
                      icon: 'pe-7s-tools',
                      title: 'View Skills',
                      href: '/skills/view'
                    },
                    //   {
                    //     icon: 'lnr-graduation-hat',
                    //     title: 'View Category',
                    //     href: '/category/view'
                    //   },
                    {
                        icon : 'pe-7s-tools',
                        title : 'View Suggested Skills',
                        href : '/suggested-skills/view'
                    },
                    {
                        icon : 'pe-7s-search',
                        title : 'Search by skills',
                        href : '/freelancers/search-by-skills'
                    },
                    {
                        header : true,
                        title : 'Employers'
                    },
                    {
                        title : 'View Employers',
                        icon : 'pe-7s-user',
                        href : '/employer/view',
                    },
                    {
                        title : 'View Jobs',
                        icon : 'pe-7s-rocket',
                        href : '/jobs/view',
                        badge : {
                            text : '0',
                            class : 'badge badge-pill badge-danger'
                        }
                    },
                    // {
                    //   header: true,
                    //   title: 'Employers',
                    // },
                    // {
                    //   icon: 'pe-7s-diamond',
                    //   title: 'Form Controls',
                    //   href: '/employers'
                    // }
                ],
                collapsed : true,
                windowWidth : 0,
            }
        },
        props : {
            sidebarbg : String,

        },
        methods : {
            ...mapActions([
                'showAll',
                'updateJobCount'
            ]),

            toggleBodyClass(className) {
                const el = document.body;
                this.isOpen = !this.isOpen;

                if (this.isOpen) {
                    el.classList.add(className);
                } else {
                    el.classList.remove(className);
                }
            },
            toggleSidebarHover(add, className) {
                const el = document.body;
                this.sidebarActive = !this.sidebarActive;

                this.windowWidth = document.documentElement.clientWidth;

                if (this.windowWidth > '992') {
                    if (add === 'add') {
                        el.classList.add(className);
                    } else {
                        el.classList.remove(className);
                    }
                }
            },
            getWindowWidth() {
                const el = document.body;

                this.windowWidth = document.documentElement.clientWidth;

                if (this.windowWidth < '1350') {
                    el.classList.add('closed-sidebar', 'closed-sidebar-md');
                } else {
                    el.classList.remove('closed-sidebar', 'closed-sidebar-md');
                }
            },

        },
        mounted() {
            this.$nextTick(function () {
                window.addEventListener('resize', this.getWindowWidth);

                //Init
                this.getWindowWidth()
            })

            Promise.all([this.showAll()]).then((value) => {
                let vm = this;
                let count = 0;

                value[0].data.forEach(function (val) {
                    if (val.plan_status ===
                        'free_unverified') {
                        count = count + 1;
                    }
                });

                vm.updateJobCount(count);
            });

        },

        watch: {
            unverifiedJobCount(newValue) {
                this.menu[6].badge.text = newValue;
            }
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.getWindowWidth);
        }
    }
</script>
