<template>
  <div>
    <layout-wrapper>
      <demo-card color="#333" heading="Search Jobs">
        <v-toolbar>
          <v-autocomplete
            v-model="select"
            item-color="#333"
            :loading="loading"
            :items="items"
            :search-input.sync="search"
            cache-items
            class="mx-3"
            flat
            hide-no-data
            hide-details
            label="E.g: PHP Developer"
            solo-inverted
            chips
            clearable
            hide-selected
            item-text="name"
            item-value="symbol"
            solo
          ></v-autocomplete>
        </v-toolbar>
      </demo-card>
        <v-data-table
          v-if="jobs !== undefined && jobs.data !==
          undefined"
          :headers="headers"
          :items="jobs.data.map(m => ({
          job_id: m.job_id, title: m.title, intro: m.intro,
          description: m.description, employer:
          m.employer.company.company_name, status:
          m.plan_status }))"
          class="elevation-1"
          hide-actions
          disable-pagination
          disable-initial-sort
        >
          <template v-slot:items="props">
            <td class="text-xs-center">{{ props.item.title
                                       }}</td>
            <td class="text-xs-center">{{ props.item.intro
                                       }}</td>
            <td class="text-xs-center">{{
                                       props.item.description
                                       }}</td>
            <td class="text-xs-center">{{
                                       props.item.employer
                                       }}</td>
            <td class="text-xs-center">
              <b-badge pill variant="success"
                       v-if="props.item.status == 'paid'">Paid
              </b-badge>

              <b-badge pill variant="success"
                       v-if="props.item.status ==
                       'free_verified'">Free - Verified
              </b-badge>

              <b-badge pill variant="warning"
                       v-if="props.item.status ==
                       'free_unverified'">Free Unverified
              </b-badge>
            </td>
            <td class="justify-center layout py-4 px-0">
              <v-icon
                small
                class="mr-2"
                @click="editItem(props.item)">
                edit
              </v-icon>
          </td>
          </template>
        </v-data-table>
        <div class="text-xs-center pt-2">
          <b-pagination size="md" :per-page="jobs.per_page"
                        :total-rows="jobs.total"
                        v-model="currentPage" />
        </div>
    </layout-wrapper>
    <Edit
      :selected="selected"
      :data="jobs.data"
    />
    <AddModal ref="addModal" />
  </div>
</template>
<script>
import DemoCard from '@layout/Components/DemoCard';
import LayoutWrapper from '@layout/Components/LayoutWrapper';
import Edit from './modals/edit'
import _ from 'lodash'
import { createNamespacedHelpers } from 'vuex'
const { mapActions, mapState } = createNamespacedHelpers('jobs')

import AddModal from './modals/add'
export default {
  data: () => ({
    headers: [
      { text: 'Title', value: 'title', align:
              'center'},
      { text: 'Intro', value: 'intro', align:
              'center'},
      { text: 'Description', value: 'description', align:
          'center', sortable: false },
      { text: 'Owner', value: 'owner', align:
              'center'},
      { text: 'Plan Status', value: 'status', align:
              'center'},
      { text: '', value: 'action', align:
              'center'},
    ],
    currentPage: 1,
    select: null,
    search: null,
    items: [],
    loading: false,
    selected: null,
    toDelete: {},
    isDeleting: false
  }),
  methods: {
    ...mapActions([
      'showAll',
      'findByName',
      // 'destroy'
    ]),
    editItem (item) {
      this.$bvModal.show('bv-modal-jobs')
      this.selected = item
    },
    toAddJob () {
      this.$bvModal.show('add-skill-modal')
    }
  },
  watch: {
    currentPage (v) {
      if (v) {
        const search = v !== 1 ? '?page='+v : ''
        this.showAll(search)
      }
    },
    search: _.debounce(function(v){
      if (v) {
        this.findByName(v)
          .then(g => this.items = g.data.map(m => m.title ))
      }
    }, 1000),
    select: _.debounce(function(v){
      if (v) {
        this.findByName(v)
          .then(g => this.items = g.data.map(m => m.title ))
        return
      }
      this.showAll()
    }, 1000),
  },
  computed: {
    ...mapState(['jobs'])
  },
  created() {
    Promise.all([this.showAll()])
  },
  components: {
    'demo-card': DemoCard,
    'layout-wrapper': LayoutWrapper,
    Edit,
    AddModal
  }
}
</script>