<template>
  <b-modal 
    id="add-category-modal" 
    title="Add Category"
  >
    <div class="d-block text-center">
      <form @submit.prevent="save">
        <div class="form-group">
          <b-form-input 
            v-model="model.category_name" 
            placeholder="Category Name"
            data-vv-as="Category"
            name="category"
            v-validate="'required'"
            :state="!errors.has('category')"
          ></b-form-input>
          <b-form-invalid-feedback id="input-live-feedback">
              {{ errors.first('category') }}
          </b-form-invalid-feedback>
        </div>
      </form>
    </div>
    <template v-slot:modal-footer>
      <b-button class="mt-2" variant="primary" @click="() => $bvModal.hide('add-category-modal')">Cancel</b-button>
      <b-button type="submit" @click="save" class="mt-2" variant="success">
        <span v-if="isSaving"><b-spinner small type="grow" /> Saving...</span>
        <span v-else>Save</span>
      </b-button>
    </template>
  </b-modal>
</template>
<script>
import Vue from 'vue'
import { createNamespacedHelpers } from 'vuex'
import VeeValidate from "vee-validate"
const { mapActions, mapState } = createNamespacedHelpers('category')

Vue.use(VeeValidate)
export default {
  data: () => ({
    model: { ...model() },
    isSaving: false
  }),
  methods: {
    ...mapActions([
      'store'
    ]),
    save () {
      this.$validator.validate().then(valid => {
        if (valid) {
          this.isSaving = true
          this.store(this.model)
            .then((s) => {
              this.isSaving = false
              this.$bvToast.toast(`You have successfully saved ${s.category_name}`, {
                title: 'Great!',
                variant: 'success',
                solid: true
              })
              this.$bvModal.hide('add-category-modal')
              this.model = { ...model() }
              this.$validator.reset()
            })
        }
      })
    }
  },
  computed: {
    ...mapState(['categories'])
  }
}
const model = () => ({
  category_name: null
})
</script>