<template>
  <b-modal 
    :id="`bv-modal-edit-category`" 
    size="lg" 
    title="Category" 
    hide-footer
    header-bg-variant="light"
  >
    <template v-slot:modal-title>
      Edit Category
    </template>
    <div class="d-block text-center">
      <b-form-input v-model="model.category_name" placeholder="Enter Skill"></b-form-input>
    </div> 
    <b-button @click="updateItem" :disabled="isLoading" class="mt-5" variant="primary">
      <span v-if="isLoading"><b-spinner small type="grow" /> Updating...</span>
      <span v-else>Update</span>
    </b-button>
    <b-button class="mt-5" @click="$bvModal.hide(`bv-modal-edit-category`)">Close</b-button>
  </b-modal>
</template>
<script>
import { createNamespacedHelpers } from 'vuex'
const { mapActions } = createNamespacedHelpers('category')
export default {
  data: () => ({
    model: { ...model() },
    isLoading: false
  }),
  methods: {
    ...mapActions([
      'update'
    ]),
    updateItem () {
      this.isLoading = true
      this.update(this.model)
        .then(() => {
          this.$bvModal.hide('bv-modal-edit-category')
          this.$bvToast.toast('Update Successful.', {
            title: 'Great!',
            variant: 'success',
            solid: true
          })
          this.isLoading = false
        })
    }
  },
  watch: {
    data: {
      handler (v) {
        if (v) {
          this.model.category_id = v.category_id
          this.model.category_name = v.category_name
        }
      }
    }
  },
  props: {
    data: Object
  }
}
const model = () => ({
  category_id: null,
  category_name: null
})
</script>